{% extends "core/_layout.html.twig" %}

{% set page_title = 'Alpha patches' %}

{% block content %}

{# Alpha patches #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Alpha Patches</h2>
    </div>
    <div class="content-body">

        {% if alpha_builds|length > 20 %}
            <p>
                <a href="/downloads">Go back to downloads</a>
            </p>
        {% endif %}

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Date (GMT)</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for build in alpha_builds %}
                    <tr>
                        <td>
                            <a href="/download/alpha/{{ build.filename }}" data-alpha-patch="true" download>
                                {{ build.name }}
                            </a>
                        </td>
                        <td>{{ build.sizeInBytes|format_bytes }}</td>
                        <td>{{ build.timestamp|date('Y-m-d G:i:s') }}</td>
                        <td>{{ build.workflowTitle|github_interact }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>
            <a href="/downloads">Go back to downloads</a>
        </p>

    </div>
</div>

{% include 'downloads.alpha-notice.html.twig' %}

{% endblock %}
