{% extends "core/_layout.html.twig" %}

{% set page_title = 'Alpha patches' %}

{% set meta = {
    description: 'An overview of all the alpha patches served on KeeperFX.net',
} %}

{% block content %}

{{ render_flash_messages() }}

{# Alpha patches #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Alpha Patches</h2>
    </div>
    <div class="content-body">

        {% if alpha_builds|length > 20 %}
            <p>
                <a href="/downloads" data-instant>Go back to downloads</a>
            </p>
        {% endif %}

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Mirrors</th>
                    <th>Date (GMT)</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for build in alpha_builds %}
                    <tr>
                        <td style="text-wrap: nowrap">
                            <a href="{{ globals.cdn.base_url }}/download/alpha/{{ build.filename|url_encode }}" data-alpha-patch-download="true" download>
                                {{ build.name }}
                            </a>
                        </td>
                        <td>{{ build.sizeInBytes|format_bytes }}</td>
                        <td>
                            {% if globals.cdn.endpoints is not empty and globals.cdn.endpoints > 1 %}
                                {% set cdn_loop_count = 1 %}
                                {%- for endpoint_id, endpoint in globals.cdn.endpoints -%}
                                    {%- if endpoint_id != globals.cdn.id -%}
                                        {%- if cdn_loop_count > 1 %}, {% endif -%}
                                        <a href="{{ endpoint.url }}/download/alpha/{{ build.filename|url_encode }}"  data-alpha-patch-download="true" download>#{{ cdn_loop_count }}</a>
                                        {%- set cdn_loop_count = cdn_loop_count + 1 -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            {% else %}
                                <span class="text-muted">-</span>
                            {% endif %}
                        </td>
                        <td>{{ build.timestamp|date('Y-m-d, G:i') }}</td>
                        <td>{{ build.workflowTitle|github_interact }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>
            <a href="/downloads" data-instant>Go back to downloads</a>
        </p>

    </div>
</div>

{% include 'downloads.notice.html.twig' %}

{% endblock %}
