{% extends "core/_layout.html.twig" %}

{% set page_title = 'Downloads' %}

{% block content %}

{# Download buttons #}
<div class="content-box" style="padding: 10px; text-align: center;">
    {% if stable_releases|length > 0 %}
        <a href="{{ stable_releases[0].downloadUrl }}" class="btn btn-medieval" style="margin: 15px; min-height: 100px; padding: 20px" data-stable-build-download="true" download>
            <h3>Download latest stable</h3>
            <span>{{ stable_releases[0].name }}</span>
        </a>
    {% endif %}
    {% if alpha_builds|length > 0 %}
        <a href="/download/alpha/{{ alpha_builds[0].filename }}" class="btn btn-medieval btn-medieval-gray" style="margin: 15px; min-height: 100px; padding: 20px" data-alpha-patch-download="true" download>
            <h5>Download latest alpha patch</h5>
            <span>{{ alpha_builds[0].name }}</span>
        </a>
    {% endif %}
</div>

{# Stable Releases #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Stable Releases</h2>
    </div>
    <div class="content-body">

        <p>
            Here are the downloads for <strong>KeeperFX</strong>.
            You'll probably want to use the latest stable release.
            When you start the launcher for the first time you will have to point to an existing Dungeon Keeper installation.
            It's very easy to get started but be sure to follow the <a href="/wiki/Home" target="_blank">installation instructions</a> as there is no automatic installer.
        </p>
        <p>
            Currently <strong>only Windows is supported</strong>, but Linux and Mac users can use <a href="https://www.winehq.org/" target="_blank">Wine <ion-icon name="open-outline" class="outgoing"></ion-icon></a>.
            To open the downloaded archive and extract its files, we recommend using <a href="https://www.7-zip.org/" target="_blank">7zip <ion-icon name="open-outline" class="outgoing"></ion-icon></a>.<br />
        </p>
        <p>
            If you have version 0.4.8 or higher you can update your installation by simply extracting the newer version over your current one.
        </p>
        <p class="mb-1">
            <strong>Please note:</strong>
        </p>
        <div style="margin: 0px 40px;">
            <lu>
                <li>
                    Updating KeeperFX will often break your saves. If you don't want to lose progress, it's suggested to complete your games before updating.
                </li>
            </lu>
        </div>

        <table class="table" style="margin-top: 40px;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for release in stable_releases %}
                    <tr class="{% if loop.first %}latest-release{% endif %}">
                        <td>
                            <a href="{{ release.downloadUrl }}" data-stable-build-download="true" download>
                                {{ release.name }}
                            </a>
                            {% if loop.first %}(latest){% endif %}
                        </td>
                        <td>{{ release.sizeInBytes|format_bytes }}</td>
                        <td>{{ release.timestamp|date('Y-m-d') }}</td>
                        <td>
                            <a href="/changelog/{{ release.tag }}">Changelog</a>
                            ({{ release.commits.count }})
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-between">
            <div>
                <a href="/downloads/stable">Browse all stable builds...</a>
            </div>

            <div style="text-align: right;">
                <i class="text-muted">Stable releases are automatically pulled from the <a href="https://github.com/dkfans/keeperfx/releases" target="_blank">GitHub releases <ion-icon name="open-outline" class="outgoing"></ion-icon></a> page.</i>
            </div>
        </div>

    </div>
</div>

{# Alpha patches #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Alpha Patches</h2>
    </div>
    <div class="content-body">

        <p>
            Alpha patches are work-in-progress builds that contain the latest, barely tested, features and fixes.
            They are shared with the community so people try out the unreleased software while we gather feedback to make sure the next release will be stable.
            The builds are made available as patches that should be extracted over the files of the latest stable release.
            You only have to download the latest one as each patch contains the earlier patches as well.
        </p>
        <p>
            If you are using these builds, we would love to hear your feedback.
            The best way to get in contact with the developers is on the <a href="{{ get_env('APP_DISCORD_INVITE_URL') }}" target="_blank">Keeper Klan Discord channel <ion-icon name="open-outline" class="outgoing"></ion-icon></a>.
            You can also <a href="https://github.com/dkfans/keeperfx/issues" target="_blank">report an issue on Github <ion-icon name="open-outline" class="outgoing"></ion-icon></a> if you run into any trouble.
        </p>
        <p>
            To open the downloaded archive and extract its files, we recommend using <a href="https://www.7-zip.org/" target="_blank">7zip <ion-icon name="open-outline" class="outgoing"></ion-icon></a>.
        </p>
        <p class="mb-1">
            <strong>Please note:</strong>
        </p>
        <div style="margin: 0px 40px;">
            <lu>
                <li>
                    Updating KeeperFX will often break your saves. If you don't want to lose progress, it's suggested to complete your games before updating.
                </li>
                <li>
                    Alpha patches contain the <code>_keeperfx.cfg</code> file which might contain new settings.
                    It's recommended to compare this file to your original <code>keeperfx.cfg</code> and copy over any new settings.
                </li>
            </lu>
        </div>

        <table class="table" style="margin-top: 40px;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Date (GMT)</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for build in alpha_builds %}
                    <tr>
                        <td>
                            <a href="/download/alpha/{{ build.filename }}" data-alpha-patch-download="true" download>
                                {{ build.name }}
                            </a>
                        </td>
                        <td>{{ build.sizeInBytes|format_bytes }}</td>
                        <td>{{ build.timestamp|date('Y-m-d G:i:s') }}</td>
                        <td>{{ build.workflowTitle|github_interact }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-between">
            <div>
                <a href="/downloads/alpha">Browse all alpha patches...</a>
            </div>

            <div style="text-align: right;">
                <i class="text-muted">Alpha patches are automatically pulled from the <a href="https://github.com/dkfans/keeperfx/actions/workflows/Push.yml" target="_blank">GitHub Alpha build workflow <ion-icon name="open-outline" class="outgoing"></ion-icon></a> page.</i>
            </div>
        </div>

    </div>
</div>

{% include 'downloads.notice.html.twig' %}

{% endblock %}
