{% extends "core/_layout.html.twig" %}

{% set page_title = 'Stable builds' %}

{% set meta = {
    description: 'An overview of all the stable builds served on KeeperFX.net',
} %}

{% block content %}

{{ render_flash_messages() }}

{# Stable Releases #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Stable Releases</h2>
    </div>
    <div class="content-body">

        {% if stable_releases|length > 20 %}
            <p>
                <a href="/downloads">Go back to downloads</a>
            </p>
        {% endif %}

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Date</th>
                    <th>News Post</th>
                    <th>Commits</th>
                </tr>
            </thead>
            <tbody>
                {% for release in stable_releases %}
                    <tr class="{% if loop.first %}latest-release{% endif %}">
                        <td>
                            <a href="{{ release.downloadUrl }}" data-stable-build-download="true" download>
                                {{ release.name }}
                            </a>
                            {% if loop.first %}(latest){% endif %}
                        </td>
                        <td>{{ release.sizeInBytes|format_bytes }}</td>
                        <td>{{ release.timestamp|date('Y-m-d') }}</td>
                        <td>
                            {% if release.linkedNewsPost is not null %}
                                <a href="/news/{{ release.linkedNewsPost.id }}/{{ release.linkedNewsPost.createdTimestamp|date('Y-m-d') }}/{{ release.linkedNewsPost.titleSlug }}" data-instant>>View</a>
                            {% else %}
                                <span class="text-muted">-</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="/commits/{{ release.tag }}">Commits</a>
                            ({{ release.commits.count }})
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>
            <a href="/downloads">Go back to downloads</a>
        </p>

    </div>
</div>

{% include 'downloads.notice.html.twig' %}

{% endblock %}
