{% extends "core/_layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="" style="align-items: center; width: 100%">

    <div class="bg-keeper bd-keeper login-box">

        <h2 class="login-title">Login</h2>

        {{ render_flash_messages() }}

        <form method="POST">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />

            <input type="hidden" name="redirect" value="{{ get_query_param('redirect') }}" />

            <div class="row g-3">

                <div class="col-12">
                    <input type="text" class="form-control" name="username" placeholder="Username" autofocus />
                </div>

                <div class="col-12">
                    <input type="password" class="form-control" name="password" placeholder="Password" />
                </div>

                <div class="col-12">
                    <input type="submit" class="btn btn-lg btn-medieval" style="width: 100%" value="Sign In" />
                </div>

            </div>

        </form>

    </div>
</div>

{% endblock %}
