{% extends "core/_layout.html.twig" %}

{% set page_title = 'Login' %}

{% block content %}

<div class="" style="align-items: center; width: 100%">

    <div class="bg-keeper bd-keeper login-box">

        <h2 class="login-title">Login</h2>

        {{ render_flash_messages() }}

        <p style="margin: 0; padding: 0 0 5px 5px;">
            Connect with
        </p>

        <a href="/oauth/connect/discord/{{ csrf.name }}/{{ csrf.value|url_encode }}" style="width: 100%">
            <button class="btn btn-lg btn-oauth" style="background-color: #5865F2;">
                <img src="/img/discord-logo-white.svg" style="height: 24px;" />
            </button>
        </a>

        <a href="/oauth/connect/twitch/{{ csrf.name }}/{{ csrf.value|url_encode }}" style="width: 100%; margin-top: 15px;">
            <button class="btn btn-lg btn-oauth" style="margin-top: 15px; background-color: #9146FF;">
                <img src="/img/twitch-logo.svg" style="height: 24px;" />
            </button>
        </a>

        <div class="form-separator">
            <hr />
            <span>Or use your local account</span>
            <hr />
        </div>

        <form method="POST">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />

            <input type="hidden" name="redirect" value="{{ get_query_param('redirect') }}" />

            <div class="row g-3">

                <div class="form-group">
                    <label class="form-check-label" for="username">
                        Username
                    </label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ get_post_var('username') }}" autofocus>
                </div>

                <div class="form-group">
                    <label class="form-check-label" for="password">
                        Password
                    </label>
                    <input type="password" class="form-control" id="password" name="password" value="">
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember_me" id="remember_me" />
                        <label class="form-check-label" for="remember_me">
                            Remember me
                        </label>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 15px;">
                    <input type="submit" class="btn btn-lg btn-medieval" style="width: 100%;" value="Sign In" />
                </div>

                <p class="text-muted text-center">
                    No account yet? <a href="/register">Register</a>.
                </p>

            </div>

        </form>

    </div>
</div>

{% endblock %}
