{% extends "core/_layout.html.twig" %}

{% set page_title = 'Lore' %}

{% block content %}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>KeeperFX Lore</h2>
        </div>
        <div class="content-body">

            {# Timeline #}
            <section class="py-5 px-5" style="max-width: 1000px;">
                <ul class="timeline">
                {% for lore in lore_entries %}
                    <li class="timeline-item mb-5">
                        <h5 class="fw-bold">{{ lore.title }}</h5>
                        {# <p class="text-special mb-2 mt-1 fw-bold">{{ lore.date|date(lore.date_format) }}</p> #}
                        <p class="mb-2 mt-1">
                            <span class="text-special fw-bold" style="padding-right: 10px;">
                                {{ lore.date|date(lore.date_format) }}
                            </span>
                            <time class="text-muted fw-bold" datetime="{{ lore.date|date('c') }}" style="display:none;">
                                {{ lore.date|date(lore.date_format) }}
                            </time>
                        </p>
                        <p class="">
                            {{ lore.description }}
                        </p>
                    </li>
                {% endfor %}
            </section>


        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    <script>
        $(function(){
            $('time').show();
        });
    </script>
{% endblock %}
