{% extends "core/_layout.html.twig" %}

{% set page_title = 'Register using Discord' %}

{% block content %}

<div class="" style="align-items: center; width: 100%">

    <div class="bg-keeper bd-keeper login-box">

        <h2 class="login-title">Register an account</h2>

        {{ render_flash_messages() }}

        {% if oauth_provider_type is defined and oauth_provider_type is not empty %}

            <form action="/oauth/register/{{ oauth_provider_type.value }}" method="POST">

                <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
                <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">

                <div class="row g-3">

                    <div class="form-group">
                        <label for="username">Username <span class="text-muted">for use on KeeperFX.net</span></label>
                        <input type="text" class="form-control" id="username" name="username" value="{{ username ?? get_post_var('username') }}" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email address <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ email ?? get_post_var('email') }}">
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="accepted_tos_and_privacy_policy" id="accepted_tos_and_privacy_policy" required />
                            <label class="form-check-label" for="accepted_tos_and_privacy_policy" style="font-size: 14px">
                                I have read and accept the
                                <a href="/terms-of-service" target="_blank">Terms of Service</a>
                                and
                                <a href="/privacy-policy" target="_blank">Privacy Policy</a>
                            </label>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 20px;">
                        <button type="submit" class="btn btn-lg btn-medieval" style="width: 100%;">Register using {{ oauth_provider_type.name }}</button>
                    </div>

                </div>

            </form>

        {% endif %}

    </div>
</div>

{% endblock %}
