{% extends "core/_layout.html.twig" %}

{% set page_title = 'Screenshots' %}

{% block content %}

{{ render_flash_messages() }}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>KeeperFX Screenshots</h2>
    </div>
    <div class="content-body">

        <div style="display: flex; align-content: center;">

            <div id="screenshots">

                {% for screenshot in screenshots %}
                    <div class="screenshot-container">
                        <div class="screenshot-image-container">
                            <a href="{{ screenshot.src }}"
                            data-pswp-width="{{ screenshot.width }}"
                            data-pswp-height="{{ screenshot.height }}"
                            data-cropped="true"
                            target="_blank">
                                <img src="{{ screenshot.thumbnail_src }}" alt="" />
                            </a>
                        </div>
                        <span class="screenshot-title">
                            {{ screenshot.title }}
                        </span>
                    </div>
                {% endfor %}

            </div>

        </div>

    </div>
</div>

{# Make page load nicer when using instantclick #}
<div style="height: 61px"></div>


{% endblock %}

{% block body_javascript %}
    <script>
        $(function(){

            $.each($('.screenshot-image-container img'), function(e){
                setImageLoadingHandler(this, "/img/broken-image-256.png");
            });

            // Initialize image lightbox
            var lightbox = new PhotoSwipeLightbox({
                bgOpacity: 0.8,
                gallery: '#screenshots',
                children: 'a',
                pswpModule: PhotoSwipe,
                mainClass: 'pswp-with-perma-preloader',
            });

            // Init lightbox
            lightbox.init();

            // Preload the full sizes screenshots
            $('a[href^="/screenshot/"]').each(function(){
                let url = $(this).attr('href');
                if (url) {
                    var img = new Image();
                    img.src = url;
                }
            });
        });
    </script>
{% endblock %}
