{% extends "cp/_cp_layout.html.twig" %}

{% block title %}Workshop - ModCP{% endblock %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Open workshop submissions</h2>
    </div>
    <div class="content-body">

        {% if open_submissions|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Submitted by</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for workshop_item in open_submissions %}
                        <tr>
                            <td>{{ workshop_item.id }}</td>
                            <td>{{ workshop_item.name }}</td>
                            <td>{% include 'workshop/_user_small.widget.html.twig' with {workshop_item: workshop_item, preferOriginalAuthor: false} %}</td>
                            <td>{{ workshop_item.createdTimestamp|date('Y-m-d H:i') }}</td>
                            <td><a href="/workshop-mod/workshop/{{ workshop_item.id }}">Edit</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>
                No open submissions
            </p>
        {% endif %}

    </div>
</div>

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Workshop Items</h2>
        <a href="/workshop-mod/workshop/add" style="right: 0;">
            <button class="btn btn-medieval">Create new workshop item</button>
        </a>
    </div>
    <div class="content-body">

    {% if workshop_items|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Submitted by</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for workshop_item in workshop_items %}
                    <tr>
                        <td>{{ workshop_item.id }}</td>
                        <td>{{ workshop_item.name }}</td>
                        <td>{% include 'workshop/_user_small.widget.html.twig' with {workshop_item: workshop_item, preferOriginalAuthor: false} %}</td>
                        <td>{{ workshop_item.createdTimestamp|date('Y-m-d H:i') }}</td>
                        <td><a href="/workshop-mod/workshop/{{ workshop_item.id }}">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            No workshop items
        </p>
    {% endif %}

    </div>
</div>

{% endblock %}
