{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Users - AdminCP' %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Users ({{ users|length }})</h2>
        <a href="/admin/user/add" style="right: 0;">
            <button class="btn btn-medieval">
                <ion-icon name="person-add-outline"></ion-icon>
                Add new user
            </button>
        </a>
    </div>
    <div class="content-body">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Registration Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.role.name }}</td>
                        <td>{{ user.createdTimestamp|date('Y-m-d') }}</td>
                        <td>
                            {% if user.email is not null %}
                                <a class="btn btn-sm btn-medieval btn-medieval-gray" href="/admin/user/{{ user.id }}/mail"><ion-icon name="mail-outline"></ion-icon></a>
                            {% endif %}
                            <a class="btn btn-sm btn-medieval" href="/admin/user/{{ user.id }}"><ion-icon name="settings-outline"></ion-icon></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
