{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Users - AdminCP' %}

{% block page %}

{% include 'core/_breadcrumb.html.twig' with {
    items: [
        { label: 'Control Panel', url: '/account' },
        { label: 'Users', url: '/admin/user/list' },
    ],
    add_back_button: false
} %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Users ({{ users|length }})</h2>
        <a href="/admin/user/add" style="right: 0;">
            <button class="btn btn-medieval">
                <ion-icon name="person-add-outline"></ion-icon>
                Add new user
            </button>
        </a>
    </div>
    <div class="content-body">

        <input class="form-control form-form-control-sm" id="search" placeholder="Search" style="margin-bottom: 15px;" />

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Country</th>
                    <th>Email</th>
                    <th>Connections</th>
                    <th>Registration Date</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>
                            <a href="/admin/user/{{ user.id }}" {% if user.role.value == roles.banned %}style="text-decoration: line-through;"{% endif %}>
                                {{ user.username }}
                            </a>
                        </td>
                        <td>{{ user.role.name }}</td>
                        <td>
                            {% if user.country is not null %}
                                <span style="font-size: 14px; position: relative; top: -0px; padding-right: 4px" data-bs-toggle="popover"  data-bs-content="{{ get_country_string(user.country) }}" data-bs-placement="top">
                                    {{ get_country_emoji(user.country) }}
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.email is not null %}
                                <span data-bs-toggle="popover"  data-bs-content="Email" data-bs-placement="top">
                                <ion-icon
                                    {% if user.isEmailVerified %}
                                        class="text-success"
                                    {% else %}
                                        class="text-warning"
                                    {% endif %}
                                name="mail-outline"></ion-icon>
                                </span>
                            {% endif %}
                        </td>
                        <td>
                            {% for token in user.connectionTokens %}
                                {% if token.providerType.value == "discord" %}
                                    <span data-bs-toggle="popover"  data-bs-content="Discord" data-bs-placement="top">
                                        <ion-icon name="logo-discord" style="color: #5865F2;"></ion-icon>
                                    </span>
                                {% endif %}
                                {% if token.providerType.value == "twitch" %}
                                    <span data-bs-toggle="popover"  data-bs-content="Twitch" data-bs-placement="top">
                                        <ion-icon name="logo-twitch" style="color: rgb(169, 112, 255);"></ion-icon>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ user.createdTimestamp|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}

{% block body_javascript %}

<script>

    // Handle search
    var $searchTable = $('#search').parent().find('table');
    var searchRows   = $searchTable.find('tbody tr');
    $('#search').on('keyup', $.debounce(250, function(e){

        // Get search string
        var string = $(this).val().toLowerCase();

        // Handle clearing of search
        if(string == ""){
            $(searchRows).show();
            $(searchRows).unmark();
            return;
        }

        // Loop trough all rows
        $.each(searchRows, function(i, el){

            // Show or hide the row
            let content = $(el).text().toLowerCase();
            if(!content.includes(string)){
                $(el).hide();
            } else {
                $(el).show();
            }
        });

        // Mark the keyword
        $(searchRows).unmark();
        $(searchRows).mark(string);
    }));
</script>

{% endblock %}
