{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Add new user - AdminCP' %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Add new user</h2>
    </div>
    <div class="content-body">

        <form action="/admin/user/add" method="POST">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username"  value="{{ get_post_var('username') }}" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" name="password"  value="{{ get_post_var('password') }}" required>
            </div>

            <div class="form-group">
                <label for="password">
                    Email address
                    <span class="text-muted">
                        (Optional)
                    </span>
                </label>
                <input type="email" class="form-control" id="email" name="email" value="{{ get_post_var('email') }}" >
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Role</label>
                <select class="form-control form-select" id="role" name="role">
                    <option value="{{ roles.user }}" {% if get_post_var('role') == roles.user %}selected=selected{% endif %}>User</option>
                    <option value="{{ roles.moderator }}" {% if get_post_var('role') == roles.moderator %}selected=selected{% endif %}>Moderator</option>
                    <option value="{{ roles.developer }}" {% if get_post_var('role') == roles.developer %}selected=selected{% endif %}>Developer</option>
                    <option value="{{ roles.admin }}" {% if get_post_var('role') == roles.admin %}selected=selected{% endif %}>Admin</option>
                </select>
            </div>

            <div class="form-group pull-right">
                <input type="submit" class="btn btn-medieval" value="Add" />
            </div>

        </form>

    </div>
</div>

{% endblock %}
