{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Alpha Patches - DevCP' %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Alpha Patches ({{ alpha_builds|length }})</h2>
        {# <a href="/admin/news/add" style="right: 0;">
            <button class="btn btn-medieval">Create new article</button>
        </a> #}
    </div>
    <div class="content-body">

        <table class="table" style="font-size: 11px;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Artifact ID</th>
                    <th>Workflow Title</th>
                    <th>Workflow Run ID</th>
                    <th>Timestamp</th>
                    <th>Size</th>
                    <th><!-- Available --></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for alpha_build in alpha_builds %}
                        <tr data-build-id="{{ alpha_build.id }}">
                            <td>{{ alpha_build.id }}</td>
                            <td>
                                <a href="/download/alpha/{{ alpha_build.filename|url_encode }}"download>
                                    {{ alpha_build.name }}
                                </a>
                            </td>
                            <td>{{ alpha_build.artifactId }}</td>
                            <td data-workflow-title>{{ alpha_build.workflowTitle|github_interact }}</td>
                            <td>{{ alpha_build.workflowRunId }}</td>
                            <td>{{ alpha_build.timestamp|date('Y-m-d G:i:s') }}</td>
                            <td>{{ alpha_build.sizeInBytes|format_bytes }}</td>
                            <td>
                                {% if alpha_build.isAvailable %}
                                    <ion-icon name="checkmark-outline" style="color: lime"></ion-icon>
                                {% else %}
                                    <ion-icon name="close-outline" style="color: red;"></ion-icon>
                                {% endif %}
                            </td>
                            <td>
                                {% if alpha_build.isAvailable %}
                                    <a href="/dev/alpha-patches/{{ alpha_build.id }}/disable/{{ csrf.name }}/{{ csrf.value|url_encode }}">Disable</a>
                                {% else %}
                                    <a href="/dev/alpha-patches/{{ alpha_build.id }}/enable/{{ csrf.name }}/{{ csrf.value|url_encode }}">Enable</a>
                                {% endif %}
                                &bullet;
                                <a href="#" data-edit-title="{{ alpha_build.workflowTitle|escape('html_attr') }}">Edit Title</a>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}

{% block body_javascript %}
<script>
    $(function(e){

        $('[data-edit-title]').on('click', function(e){
            e.preventDefault();

            var $editTitleAnchor = $(this);
            let currentTitle = $editTitleAnchor.data('edit-title');
            let buildId = $editTitleAnchor.parent().parent().data('build-id');

            var newTitle = window.prompt("New workflow title", currentTitle);
            if(newTitle.length < 1 || newTitle == currentTitle){
                return;
            }

            $.ajax({
                type: 'PUT',
                url: '/dev/alpha-patches/' + buildId,
                dataType: 'json', // return type data,
                data: {
                    'workflow_title': newTitle,
                    [app_store.csrf.keys.name]: app_store.csrf.name,
                    [app_store.csrf.keys.value]: app_store.csrf.value
                },
                complete: function(e) {
                    // nothing
                },
                success: function(data){

                    if(typeof data.success === 'undefined' || !data.success){
                        toastr.error('Something went wrong.');
                        return false;
                    }

                    toastr.success("Workflow title updated!");

                    $editTitleAnchor.data('edit-title', newTitle);
                    $editTitleAnchor.parent().parent().find('[data-workflow-title]').text(newTitle);
                }
            });
        });

    });
</script>
{% endblock %}
