{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'IP Lookup - AdminCP' %}

{% block page %}

{% include 'core/_breadcrumb.html.twig' with {
    items: [
        { label: 'Control Panel', url: '/account' },
        { label: 'IP Logs', url: '/admin/ip-lookup/logs' },
        { label: 'Look up' }
    ],
    add_back_button: true
} %}

{# IP Lookup #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>{{ type|upper }}: <span class="monospace text-primary">{{ string }}</span></h2>
    </div>
    <div class="content-body">

    {% if info|length > 0 %}

        <table class="table">
            <tbody>

                {% for name, value in info %}
                    <tr>
                        <td>
                            {% if name in ['isp', 'as', 'ip'] %}
                                {{ name|upper }}
                            {% elseif name == 'asname' %}
                                AS Name
                            {% else %}
                                {{ name|enum_beautify }}
                            {% endif %}
                        </td>
                        <td>
                            {% if name == 'isp' %}
                                <a href="/admin/ip-lookup/isp/{{ value|url_encode }}">
                                    {{ value }}
                                </a>
                            {% elseif name == 'ip' %}
                                <a href="/admin/ip-lookup/ip/{{ value|url_encode }}">
                                    {{ value }}
                                </a>
                            {% elseif name == 'reverse' %}
                                <a href="/admin/ip-lookup/host_name/{{ value|url_encode }}">
                                    {{ value }}
                                </a>
                            {# {% elseif name == 'asname' %} #}
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    {% endif %}

    </div>
</div>

{# Users #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Associated Users</h2>
    </div>
    <div class="content-body">

    {% if users|length == 0 %}

        <p>
            No associated users found.
        </p>

    {% else %}

        <table class="table">
            <thead>
                <th>ID</th>
                <th>User</th>
                <th>Registration Date</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.id }}
                        </td>
                        <td>
                            <a href="/admin/user/{{ user.id }}">
                                {{ user.username }}
                            </a>
                        </td>
                        <td>
                            {{ user.createdTimestamp|date('Y-m-d G:i') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

    </div>
</div>

{% endblock %}
