{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Server Info - AdminCP' %}

{% block page %}

{# Stats #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Website Stats</h2>
    </div>
    <div class="content-body">

        <h5>Users</h5>
        <table class="table">
            <tr>
                <td style="width: 50%">
                    Users
                </td>
                <td style="width: 50%" class="text-info">
                    {{ user_count }}
                </td>
            </tr>
            {% if last_user is not null %}
                <tr>
                    <td style="width: 50%">
                        Last User
                    </td>
                    <td style="width: 50%" class="text-info">
                        <a href="/admin/user/{{ last_user.id }}">
                            {{ last_user.username }}
                        </a>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td style="width: 50%">
                    IP Logs
                </td>
                <td style="width: 50%" class="text-info">
                    {{ ip_log_count }}
                </td>
            </tr>
        </table>

        <h5>Emails</h5>
        <table class="table">
            <tr>
                <td style="width: 50%">
                    Total Mails
                </td>
                <td style="width: 50%" class="text-info">
                    {{ mails_count }}
                </td>
            </tr>
            <tr>
                <td style="width: 50%">
                    Mails in Queue
                </td>
                <td style="width: 50%" class="text-info">
                    {{ mails_in_queue_count }}
                </td>
            </tr>
        </table>

        <h5>Workshop</h5>
        <table class="table">
            <tr>
                <td style="width: 50%">
                    Workshop items
                </td>
                <td style="width: 50%" class="text-info">
                    {{ workshop_item_count }}
                </td>
            </tr>
            {% if last_workshop_item is not null %}
                <tr>
                    <td style="width: 50%">
                        Last workshop item
                    </td>
                    <td style="width: 50%" class="text-info">
                        <a href="/moderate/workshop/{{ last_workshop_item.id }}">
                            {{ last_workshop_item.name }}
                        </a>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td style="width: 50%">
                    Workshop files
                </td>
                <td style="width: 50%" class="text-info">
                    {{ workshop_file_count }}
                </td>
            </tr>
            <tr>
                <td style="width: 50%">
                    Workshop total file storage size
                </td>
                <td style="width: 50%" class="text-info">
                    {{ workshop_file_storage_size|format_bytes }}
                </td>
            </tr>
            <tr>
                <td style="width: 50%">
                    Workshop comments
                </td>
                <td style="width: 50%" class="text-info">
                    {{ workshop_comment_count }}
                </td>
            </tr>
        </table>

        <h5>Alpha Builds</h5>
        <table class="table">
            <tr>
                <td style="width: 50%">
                    Alpha Builds
                </td>
                <td style="width: 50%" class="text-info">
                    {{ alpha_build_count }}
                </td>
            </tr>

            <tr>
                <td style="width: 50%">
                    Alpha Build total storage size
                </td>
                <td style="width: 50%" class="text-info">
                    {{ alpha_build_storage_size|format_bytes }}
                </td>
            </tr>
        </table>

    </div>
</div>

{# Server Info #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Server Information</h2>
    </div>
    <div class="content-body">

        {# Upload info #}
        <table class="table">
            <tr>
                <td style="width: 50%">
                    Max Avatar upload filesize
                </td>
                <td style="width: 50%" class="text-info">
                    {{ globals.upload_limit.avatar.size|format_bytes }}
                    {% if get_env('APP_AVATAR_MAX_UPLOAD_SIZE') is not null and get_env('APP_AVATAR_MAX_UPLOAD_SIZE') matches '/^\\d+$/' and get_env('APP_AVATAR_MAX_UPLOAD_SIZE') > upload_calculated_minimum %}
                        <span class="text-danger" style="margin-left: 10px; font-weight: 800;">Limited by PHP config!</span>
                        <span class="text-muted" style="margin-left: 10px; font-weight: 800;">(Original: {{ get_env('APP_AVATAR_MAX_UPLOAD_SIZE')|format_bytes }})</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="width: 50%">
                    Max Workshop item upload filesize
                </td>
                <td style="width: 50%" class="text-info">
                    {{ globals.upload_limit.workshop_item.size|format_bytes }}
                    {% if get_env('APP_WORKSHOP_ITEM_MAX_UPLOAD_SIZE') is not null and get_env('APP_WORKSHOP_ITEM_MAX_UPLOAD_SIZE') matches '/^\\d+$/' and get_env('APP_WORKSHOP_ITEM_MAX_UPLOAD_SIZE') > upload_calculated_minimum %}
                        <span class="text-danger" style="margin-left: 10px; font-weight: 800;">Limited by PHP config!</span>
                        <span class="text-muted" style="margin-left: 10px; font-weight: 800;">(Original: {{ get_env('APP_WORKSHOP_ITEM_MAX_UPLOAD_SIZE')|format_bytes }})</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="width: 50%">
                    Max Workshop image upload filesize
                </td>
                <td style="width: 50%" class="text-info">
                    {{ globals.upload_limit.workshop_image.size|format_bytes }}
                    {% if get_env('APP_WORKSHOP_IMAGE_MAX_UPLOAD_SIZE') is not null and get_env('APP_WORKSHOP_IMAGE_MAX_UPLOAD_SIZE') matches '/^\\d+$/' and get_env('APP_WORKSHOP_IMAGE_MAX_UPLOAD_SIZE') > upload_calculated_minimum %}
                        <span class="text-danger" style="margin-left: 10px; font-weight: 800;">Limited by PHP config!</span>
                        <span class="text-muted" style="margin-left: 10px; font-weight: 800;">(Original: {{ get_env('APP_WORKSHOP_IMAGE_MAX_UPLOAD_SIZE')|format_bytes }})</span>
                    {% endif %}
                </td>
            </tr>
        </table>

        {# PHP info #}
        <table class="table">
            <tr>
                <td style="width: 50%">
                    PHP version
                </td>
                <td style="width: 50%" class="text-info">
                    {{ php_version }}
                </td>
            </tr>
            <tr>
                <td style="width: 50%">
                    php.ini - <code>upload_max_filesize</code>
                </td>
                <td style="width: 50%" class="text-info">
                    {{ php_max_upload|format_bytes }}
                </td>
            </tr>
            <tr>
                <td style="width: 50%">
                    php.ini - <code>post_max_size</code>
                </td>
                <td style="width: 50%" class="text-info">
                    {{ php_max_post|format_bytes }}
                </td>
            </tr>
            <tr>
                <td style="width: 50%">
                    php.ini - <code>memory_limit</code>
                </td>
                <td style="width: 50%" class="text-info">
                    {{ php_memory_limit|format_bytes }}
                </td>
            </tr>
            <tr>
                <td style="width: 50%">
                    Maximum PHP file upload filesize
                </td>
                <td style="width: 50%" class="text-info">
                    {{ upload_calculated_minimum|format_bytes }}
                </td>
            </tr>
            <tr>
                <td style="width: 50%">
                    IPv6 support
                </td>
                <td style="width: 50%" class="text-info">
                    {{ ipv6_support ? 'Yes' : 'No' }}
                </td>
            </tr>
        </table>

    </div>
</div>

{% endblock %}
