{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Account Settings' %}

{% block page %}

{# Header #}
{# <div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="border-bottom: 0; margin-bottom: 8px;">
        <h2>Account Settings</h2>
    </div>
</div> #}

{# Change Avatar #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Avatar</h2>
    </div>
    <div class="content-body">

        <div class="d-flex">

            <div class="account-settings-avatar">
                {% if user.avatar %}
                    <img src="/avatar/{{ user.avatar }}" />
                    {% else %}
                    <img src="/avatar-generate/256/{{ user.username|url_encode }}.png" />
                {% endif %}
            </div>

            <div>

                <form action="/account/avatar" method="POST" enctype="multipart/form-data" style="margin-bottom: 20px;">

                    <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
                    <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />

                    <div class="form-group">
                        <label for="avatar">
                            New avatar
                        </label>
                        <input type="file" class="form-control" id="avatar" name="avatar">
                    </div>

                    <div class="form-group mt-1">
                        <span class="text-muted" style="font-size: 12px;">Maximum filesize: {{ globals.upload_limit.avatar.formatted }}</span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-medieval">Submit</button>
                    </div>

                </form>

                {% if user.avatar %}
                    <a href="/account/remove-avatar/{{ csrf.name }}/{{ csrf.value|url_encode }}">Remove current avatar</a>
                {% endif %}

            </div>

        </div>

    </div>
</div>

{# Country #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Country</h2>
    </div>
    <div class="content-body">
        <form action="/account/country" method="POST">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />

            <div class="form-group" style="max-width: 400px;">
                <select id="country" class="form-control form-select" name="country">
                    <option value="">Not specified (Hidden)</option>
                    {% for country_code in country_codes %}
                        <option value="{{ country_code }}" {% if user.country is not null and user.country == country_code %}selected=selected{% endif %}>
                            {{ get_country_emoji(country_code) }} &nbsp; {{ get_country_string(country_code) }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-medieval">Update</button>
            </div>

        </form>
    </div>
</div>

{# Change Email Address #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Email Address</h2>
    </div>
    <div class="content-body">

        <form action="/account/email" method="POST">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />

            <p class="mt-2 mb-4">
                {% if user.email %}
                    Email address:
                    <strong style="margin-left: 20px;">{{ user.email }}</strong>
                    {% if user.isEmailVerified %}
                        <span class="badge bg-success">Verified</span>
                    {% else %}
                        <span class="badge bg-danger">Not verified</span>
                        <span class="text-muted mx-2">&bullet;</span>
                        <a href="/account/resend-verification-email/{{ csrf.name }}/{{ csrf.value|url_encode }}">Resend verification mail</a>
                    {% endif %}
                    <span class="text-muted mx-2">&bullet;</span>
                    <a href="/account/remove-email/{{ csrf.name }}/{{ csrf.value|url_encode }}">Remove</a>
                {% else %}
                    There is no email address linked to this account.
                {% endif %}
            </p>

            <div class="form-group" style="max-width: 400px;">
                <label for="new_email_address">
                    New email address
                </label>
                <input type="email" class="form-control" id="new_email_address" name="new_email_address" required />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-medieval">Update Email Address</button>
            </div>

        </form>
    </div>
</div>

{# About Me #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>About Me</h2>
    </div>
    <div class="content-body">
        <form action="/account/about-me" method="POST">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />

            <div class="form-group">
                <textarea class="form-control mb-1" name="about_me" rows="6">{% if user.bio is not null and user.bio.bio is not empty %}{{ user.bio.bio }}{% endif %}</textarea>
                <span class="text-muted mx-2" style="font-size: 12px;">
                    Markdown and spoilers supported.
                    <a href="#" data-markdown-format-info-link="true">
                        More info
                    </a>
                </span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-medieval">Update</button>
            </div>

        </form>
    </div>
</div>


{# Change Theme #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Website Theme</h2>
    </div>
    <div class="content-body">
        <form action="/account/theme" method="POST">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />

            <div class="form-group" style="max-width: 400px;">
                <select id="theme_id" class="form-control form-select" name="theme_id">
                    {% for theme in website_theme.all %}
                        <option value="{{ theme.id }}" {% if website_theme.current.id is not null and website_theme.current.id == theme.id %}selected=selected{% endif %}>
                            {{ theme.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-medieval">Update</button>
            </div>

        </form>
    </div>
</div>

{# Change Password #}
<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Password</h2>
    </div>
    <div class="content-body">

        <form action="/account/password" method="POST" style="max-width: 400px;">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />

            <div class="form-group">
                <label for="current_password">
                    Current Password
                </label>
                <input type="password" class="form-control" id="current_password" name="current_password" required />
            </div>

            <div class="form-group">
                <label for="new_password">
                    New Password
                </label>
                <input type="password" class="form-control" id="new_password" name="new_password" autocomplete="off" required />
            </div>

            <div class="form-group">
                <label for="repeat_password">
                    Repeat new Password
                </label>
                <input type="password" class="form-control" id="repeat_password" name="repeat_password" autocomplete="off" required />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-medieval">Update Password</button>
            </div>

        </form>

    </div>
</div>

{% include 'markdown.format.html.twig' %}

{% endblock %}


{% block body_javascript %}
    <script>
        $(function(e){
            // Avatar max upload filesize check
            $('#avatar').on('change', function(){
                if(this.files[0].size > app_store.upload_limit.avatar.size){
                    toastr.warning('Avatar exceeds maximum filesize of ' + app_store.upload_limit.avatar.formatted);
                    this.value = null;
                }
            });
        });
    </script>
{% endblock %}
