{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Notification Settings' %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <h2>Notification Settings</h2>
    </div>
    <div class="content-body">

        {% if account.email is null %}
            <div class="alert bg-info">
                Email notifications are disabled because you do not have an email address linked to your account.
            </div>
        {% endif %}

        <form action="/account/notifications/settings" method="POST">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Website</th>
                        <th {% if account.email is null %}class="text-muted"{% endif %}>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for setting in settings %}
                        <tr>
                            <td>
                                {{ setting.title }}
                                {% if setting.role.value == roles.moderator %}
                                    <span class="badge bg-dark">MODERATOR</span>
                                {% endif %}
                                {% if setting.role.value == roles.developer %}
                                    <span class="badge bg-dark">DEVELOPER</span>
                                {% endif %}
                                {% if setting.role.value == roles.admin %}
                                    <span class="badge bg-dark">ADMIN</span>
                                {% endif %}
                            </td>
                            <td>
                                <input type="checkbox" name="settings[{{ setting.class_name }}][website]" {% if setting.website %}checked=checked{% endif %} value="1" />
                            </td>
                            <td>
                                <input
                                    type="checkbox"
                                    {% if account.email is not null and account.is_email_verified %}
                                        name="settings[{{ setting.class_name }}][email]"
                                        {% if setting.email %}checked=checked{% endif %}
                                    {% else %}
                                        disabled=disabled
                                    {% endif %}
                                    value="1"
                                />
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="form-group">
                <button type="submit" class="btn  btn-medieval">Save</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}
