{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Notifications' %}

{% block page %}

{% include 'core/_breadcrumb.html.twig' with {
    items: [
        { label: 'Control Panel', url: '/account' },
        { label: 'Notifications' }
    ],
    add_back_button: false
} %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header">
        <div class="d-flex justify-content-between">
            <h2>Notifications</h2>
            <div>
                {% if unread_notification_count > 0 %}
                    <a href="/account/notifications/mark-all-as-read/{{ csrf.name }}/{{ csrf.value|url_encode }}">Mark all as read</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="content-body">
        {% if notifications %}
            {% for notification_id, notification in notifications %}
                    <a class="notification-item-wide" href="/account/notification/{{ notification_id }}" {% if notification.isRead %}style="filter:brightness(0.5)"{% endif %}>
                        <span>
                            {{ notification.text|notification_render }}
                            <br/>
                            <time class="text-muted" datetime="{{ notification.timestamp|date('c') }}">
                                {{ notification.timestamp|date('Y/m/d - H:i') }}
                            </time>
                        </span>
                    </a>
            {% endfor %}
        {% else %}
            <p>
                No recent notifications to be shown.
            </p>
        {% endif %}
    </div>
</div>

{% endblock %}
