
{# Original Author #}
{%
    if includeOriginalAuthor is defined
    and includeOriginalAuthor == true
    and workshop_item.originalAuthor is defined
    and workshop_item.originalAuthor != null
    and not (workshop_item.submitter != null and workshop_item.originalAuthor|lower == workshop_item.submitter.username|lower)
%}
    {# <strong>{{ workshop_item.originalAuthor }}</strong> #}
    <a href="/workshop/browse?original_author={{ workshop_item.originalAuthor|url_encode }}" class="username-link-org-author">
        {{ workshop_item.originalAuthor }}
    </a>
{% else %}

    {% if workshop_item.submitter == null %}

        {# KeeperFX Team #}
        <a
        href="/workshop/browse?user=keeperfx-team"
        title="Browse the KeeperFX Team Workshop Items"
        class="user-link d-inline-block">
            <span class="user-username">KeeperFX Team</span>
        </a>

    {% else %}

        {# Normal User #}
        <a
        href="/workshop/browse?user={{ workshop_item.submitter.username }}"
        title="Browse {{ workshop_item.submitter.username }}'s Workshop Items"
        class="user-link d-inline-block">
            {% if workshop_item.submitter.avatarSmall %}
                <img src="/avatar/{{ workshop_item.submitter.avatarSmall }}" class="user-avatar" />
            {% elseif workshop_item.submitter.avatar %}
                <img src="/avatar/{{ workshop_item.submitter.avatar }}" class="user-avatar" />
            {% else %}
                <img src="/avatar-generate/32/{{ workshop_item.submitter.username|url_encode }}.png" class="user-avatar" />
            {% endif %}

            {# Username #}
            <span class="user-username">{{ workshop_item.submitter.username }}</span>
        {% endif %}
        </a>

        {# Country flag #}
        {% if workshop_item.submitter.country is not null %}
        <span style="font-size: 14px; position: relative; top: -0px; padding-right: 4px" data-bs-toggle="popover"  data-bs-content="{{ get_country_string(workshop_item.submitter.country) }}" data-bs-placement="top">
            {{ get_country_emoji(workshop_item.submitter.country) }}
        </span>
    {% endif %}
{% endif %}
