
{# Original Author #}
{%
    if includeOriginalAuthor is defined
    and includeOriginalAuthor == true
    and workshop_item.originalAuthor is defined
    and workshop_item.originalAuthor != null
    and workshop_item.originalAuthor|lower != workshop_item.submitter.username|lower
%}
    {# <strong>{{ workshop_item.originalAuthor }}</strong> #}
    <a href="/workshop/browse?org_author={{ workshop_item.originalAuthor|url_encode }}" class="username-link-org-author">
        {{ workshop_item.originalAuthor }}
    </a>
{% else %}

    {% if workshop_item.submitter == null %}

        {# KeeperFX Team #}
        <a
        href="/workshop/browse?user=keeperfx-team"
        title="Browse the KeeperFX Team Workshop Items"
        class="user-link d-inline-block">
            <span class="user-username">KeeperFX Team</span>
        </a>

    {% else %}

        {# Normal User #}
        <a
        href="/workshop/browse?user={{ workshop_item.submitter.username }}"
        title="Browse {{ workshop_item.submitter.username }}'s Workshop Items"
        class="user-link d-inline-block">
            {% if workshop_item.submitter.avatar %}
                <img src="/avatar/{{ workshop_item.submitter.avatar }}" class="user-avatar" />
            {% else %}
                <img src="{{ avatar(workshop_item.submitter.username, 'circle', 128) }}" class="user-avatar" />
            {% endif %}
            <span class="user-username">{{ workshop_item.submitter.username }}</span>
        </a>
    {% endif %}
{% endif %}
