{% extends "core/_layout.html.twig" %}

{% block content %}

<div class="row" style="margin-top: 30px;">

    {# Sidebar #}
    <div class="col-md-3">

        {# Workshop Menu #}
        <div class="content-box bg-keeper bd-keeper">
            <div class="content-header">
                <h2>Workshop</h2>
            </div>
            <div class="content-body">
                <nav class="nav flex-column">

                    <a class="nav-link
                    {# Do not make the browse menu item active if we are on 'My workshop items', which is also a '/browse' URL  #}
                    {% if path_equals('/workshop/item*') or (path_equals('/workshop/browse*') and (submitter is not defined or (account == null or submitter != account.username))) %}
                        active
                    {% endif %}
                    " href="/workshop/browse" data-instant>
                        <ion-icon name="list-outline"></ion-icon>
                        Browse
                    </a>
                    <div class="nav-sidebar-sub-container" id="browseMenu">
                        <nav class="nav nav-sidebar-sub">
                            <a class="nav-link {% if path_equals('/workshop/browse*') and not get_query_param('category') %}active{% endif %}" href="/workshop/browse" data-browse-filter-type="category" data-browse-filter-value="">All</a>
                            {% for category in workshop_globals.categories %}
                                <a
                                    class="nav-link
                                    {% if (item is defined and item.category is defined and item.category.value == category.value) or (get_query_param('category') and get_query_param('category') == category.value) %}
                                        active
                                    {% endif %}
                                    "
                                    href="/workshop/browse?category={{ category.value }}" data-browse-filter-type="category" data-browse-filter-value="{{ category.value }}"
                                    data-instant
                                >
                                    {{ category.name|enum_beautify }}
                                </a>
                            {% endfor %}
                        </nav>
                    </div>

                    <a class="nav-link" href="/workshop/random/map" style="margin-top: 20px;">
                        <ion-icon name="dice-outline"></ion-icon>
                        Random Map
                    </a>
                    <a class="nav-link" href="/workshop/random/campaign">
                        <ion-icon name="dice-outline"></ion-icon>
                        Random Campaign
                    </a>
                    <a class="nav-link {% if path_equals('/workshop/tools*') %}active{% endif %}" href="/workshop/tools">
                    <ion-icon name="build-outline"></ion-icon>
                        Website Tools
                    </a>
                    {% if account != null %}
                        <a class="nav-link {% if path_equals('/workshop/my-ratings') %}active{% endif %}" href="/workshop/my-ratings" data-instant>
                            <ion-icon name="star-outline"></ion-icon>
                            My ratings
                        </a>
                        <a class="nav-link {% if path_equals('/workshop/my-items') %}active{% endif %}" href="/workshop/my-items" data-instant>
                            <ion-icon name="person-outline"></ion-icon>
                            My workshop items
                        </a>
                        <a class="nav-link {% if path_equals('/workshop/upload') %}active{% endif %}" href="/workshop/upload" data-instant>
                            <ion-icon name="cloud-upload-outline"></ion-icon>
                            Upload
                        </a>
                    {% endif %}
                </nav>
                {% if account == null %}
                    <p style="margin: 15px 0px 0px 0px; padding: 0px;" class="text-muted">
                        <a href="/login?redirect=/workshop">Login</a> or <a href="/register">register</a> to submit your own workshop items.
                    </p>
                {% endif %}
            </div>
        </div>

        {# Unearth ad #}
        {% if get_env('APP_WORKSHOP_UNEARTH_URL') %}
            <div class="content-box bg-keeper bd-keeper d-none d-sm-block">
                <div class="content-body">
                    <a href="{{ get_env('APP_WORKSHOP_UNEARTH_URL') }}" class="margin-top: 50px;" data-instant>
                        <img src="/img/unearth.png" class="mx-auto d-block" />
                    </a>
                    <div style="width: 100%" class="d-flex justify-content-center">
                        <a href="{{ get_env('APP_WORKSHOP_UNEARTH_URL') }}" class="title-link" style="margin-top: 20px; margin-bottom: 10px;" data-instant>
                            Unearth
                        </a>
                    </div>
                    <p class="text-center" style="margin-top: 0;">
                        Create your own maps and campaigns for KeeperFX and DK1 with <strong>Unearth.</strong>
                    </p>
                    <p class="text-center">
                        You can find it <a href="{{ get_env('APP_WORKSHOP_UNEARTH_URL') }}" data-instant>here</a>.
                    </p>
                </div>
            </div>
        {% endif %}

    </div>

    {# Workshop content #}
    <div class="col-md-9">

        {{ render_flash_messages() }}

        {% block workshop_content %}{% endblock %}
    </div>

</div>

{% endblock %}
