{% extends "workshop/_workshop_layout.html.twig" %}

{% block title %}Workshop{% endblock %}

{% block workshop_content %}

    <div class="content-box bd-keeper bg-keeper">
        <div class="content-header">
            <h2>Workshop items</h2>
        </div>
        {# <div class="content-header">
            <div class="pull-right">
                Order by:
                <select class="form-control form-select" id="order-by" name="order_by" style="display: inline-block">
                    <option value="date">Date</option>
                    <option value="most-downloaded">Most Downloaded</option>
                    <option value="highest-rated">Highest Rated</option>
                    <option value="name">Name</option>
                </select>
            </div>
        </div> #}

        <div class="content-body">

            <div class="workshop-grid">

                {% for item in workshop_items %}
                    <div class="workshop-grid-item">

                        {# Thumbnail #}
                        <div class="workshop-grid-item-image-container">
                            <a href="/workshop/item/{{ item.id }}/{{ item.name|slugify }}">
                                {% if item.thumbnail is not null %}
                                    <img src="/workshop/thumbnail/{{ item.id }}/{{ item.thumbnail }}" />
                                {% else %}
                                    <img src="/img/horny-face.png" />
                                {% endif %}
                            </a>
                        </div>

                        <div class="workshop-grid-item-info">

                            {# Title #}
                            <div class="workshop-grid-item-title">
                                <a href="/workshop/item/{{ item.id }}/{{ item.name|slugify }}">
                                    {{ item.name }}
                                </a>
                            </div>

                            {# Info #}
                            <div class="row">

                                <div class="col-6">
                                    {{ item.type.name|enum_beautify }} <br />
                                    By: <a href="/workshop/browse/user/{{ item.submitter.username }}" title="Browse {{ item.submitter.username }}'s Workshop Items">{{ item.submitter.username }}</a>
                                </div>

                                <div class="col-6" style="text-align: right;">
                                    {{ item.downloadCount }}
                                    {% if item.downloadCount == 1 %}
                                        download
                                    {% else %}
                                        downloads
                                    {% endif %}
                                    <br />
                                    {{ workshop_rating(item.id, workshop_ratings[item.id]) }}
                                </div>

                            </div>

                        </div>

                    </div>
                {% endfor %}

                {# Fix the grid having only 1 column when there is only 1 workshop item #}
                {% if workshop_items|length == 1 %}
                    <div></div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
