{% extends "workshop/_workshop_layout.html.twig" %}

{% block title %}Workshop{% endblock %}

{% block workshop_content %}

    <div class="content-box bd-keeper bg-keeper">
        <div class="content-header">
            <h2>Workshop items</h2>
        </div>
        {# <div class="content-header">
            <div class="pull-right">
                Order by:
                <select class="form-control form-select" id="order-by" name="order_by" style="display: inline-block">
                    <option value="date">Date</option>
                    <option value="most-downloaded">Most Downloaded</option>
                    <option value="highest-rated">Highest Rated</option>
                    <option value="name">Name</option>
                </select>
            </div>
        </div> #}

        <div class="content-body">

            <div class="workshop-grid">

                {% for item in workshop_items %}
                    <div class="workshop-grid-item">

                        {# Thumbnail #}
                        <div class="workshop-grid-item-image-container">
                            <a href="/workshop/item/{{ item.id }}/{{ item.name|slugify }}">
                                {% if item.thumbnail is not null %}
                                    <img src="/workshop/thumbnail/{{ item.id }}/{{ item.thumbnail }}" />
                                {% else %}
                                    <img src="/img/horny-face.png" />
                                {% endif %}
                            </a>
                        </div>

                        <div class="workshop-grid-item-info">

                            {# Title #}
                            <div class="workshop-grid-item-title">
                                <a href="/workshop/item/{{ item.id }}/{{ item.name|slugify }}">
                                    {{ item.name }}
                                </a>
                            </div>

                            {# Info #}
                            <div class="row" style="margin-top: 10px;">

                                <div class="col-6">

                                    {# Type #}
                                    {# <span class="text-warning"> #}
                                    <span style="margin-top: 2px; display: block;">
                                        {{ item.type.name|enum_beautify }}
                                    </span>

                                </div>

                                <div class="col-6" style="text-align: right;">


                                    {# Rating #}
                                    {{ workshop_rating(item.id, workshop_ratings[item.id]) }}

                                    {# Downloads #}
                                    {# <span style="margin-top: 7px; display: inline-block;">
                                        {{ item.downloadCount }}
                                        {% if item.downloadCount == 1 %}
                                            download
                                        {% else %}
                                            downloads
                                        {% endif %}
                                    </span> #}
                                </div>

                            </div>



                            <div class="row" style="margin-top: 4px;">
                                <div class="col-6">

                                    {# User or Original Author #}
                                    {% include 'workshop/_user_small.widget.html.twig' with {workshop_item: item, preferOriginalAuthor: true} %}
                                </div>

                                <div class="col-6" style="text-align: right;">

                                    {# Date #}
                                    {% if item.originalCreationDate is not null %}
                                        {{ item.originalCreationDate|date('Y-m-d') }}
                                    {% else %}
                                        {{ item.updatedTimestamp|date('Y-m-d') }}
                                    {% endif %}

                                </div>
                            </div>




                        </div>

                    </div>
                {% endfor %}

                {# Fix the grid having only 1 column when there is only 1 workshop item #}
                {% if workshop_items|length == 1 %}
                    <div></div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
