{% extends "workshop/_workshop_layout.html.twig" %}

{% block title %}Workshop{% endblock %}

{% block workshop_content %}

    <div style="
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    ">
        {% for item in workshop_items %}
            <div class="bg-keeper bd-keeper workshop-widget-item">

                <div class="workshop-widget-image-container bd-keeper">
                    {% if item.thumbnail is not null %}
                        <img src="/workshop/thumbnail/{{ item.id }}/{{ item.thumbnail }}" />
                    {% else %}
                        <img src="/img/horny-face.png" />
                    {% endif %}
                </div>
                <div class="workshop-widget-info">
                    <a href="/workshop/item/{{ item.id }}/{{ item.name|slugify }}"  class="workshop-widget-title">
                        {{ item.name }}
                    </a>
                    <div class="row">
                        <div class="col-6">
                            {{ item.type.name|enum_beautify }} <br />
                            By: {{ item.submitter.username }}
                        </div>
                        <div class="col-6" style="text-align: right;">
                            {{ item.downloadCount }}
                            {% if item.downloadCount == 1 %}
                                download
                            {% else %}
                                downloads
                            {% endif %}
                            <br />
                            {{ workshop_rating(item.id, workshop_ratings[item.id]) }}
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock %}
