{% extends "workshop/_workshop_layout.html.twig" %}

{% set page_title = 'Workshop' %}

{% block workshop_content %}

    <div class="content-box bd-keeper bg-keeper">
        <div class="content-header">
            <div class="d-flex justify-content-between">
                <h2>
                    Workshop items
                    {% if submitter is not null or original_author is not null %}
                        by
                        {% if submitter != null %}
                            <span class="text-special">{{ submitter }}</span>
                        {% endif %}
                        {% if original_author != null %}
                            <span class="username-link-org-author">{{ original_author }}</span>
                        {% endif %}
                    {% endif %}
                    {% if get_query_param('category') and workshop_globals.categories_map[get_query_param('category')] is defined %}
                        : {{ workshop_globals.categories_map[get_query_param('category')]|enum_beautify }}
                    {% endif %}
                </h2>
                <div>
                    {% if submitter != null or original_author != null %}
                        <a href="/workshop/browse" data-instant>Back to browse</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="content-menu d-flex justify-content-between">

            <div class="d-flex" id="browse-filters">

                {# Search #}
                <div class="me-2">
                    <form id="workshop-search-form">
                        <input
                        class="form-control form-control-sm {% if get_query_param('search') %}border-primary{% endif %}"
                        type="text" name="search" id="workshop-search" placeholder="Search" style="font-size: 16px; height: 38px; min-width: 250px" value="{{ get_query_param('search') }}" />
                    </form>
                </div>

                {# Order by #}
                <div class="dropdown me-2">
                    {% if get_query_param('order_by') and get_query_param('order_by') is string %}
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Order by:
                            {% if get_query_param('order_by') == 'latest' %}
                                Latest
                            {% elseif get_query_param('order_by') == 'oldest' %}
                                Oldest
                            {% elseif get_query_param('order_by') == 'highest-rated' %}
                                Highest Rated
                            {% elseif get_query_param('order_by') == 'lowest-rated' %}
                                Lowest Rated
                            {% elseif get_query_param('order_by') == 'most-difficult' %}
                                Most Difficult
                            {% elseif get_query_param('order_by') == 'least-difficult' %}
                                Least Difficult
                            {% elseif get_query_param('order_by') == 'most-downloaded' %}
                                Most Downloaded
                            {% elseif get_query_param('order_by') == 'least-downloaded' %}
                                Least Downloaded
                            {% elseif get_query_param('order_by') == 'name' %}
                                Name
                            {% endif %}
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Order by: Latest
                        </button>
                    {% endif %}
                    <ul class="dropdown-menu dropdown-menu-dark">
                        {% if get_query_param('order_by') %}
                            <li><a class="dropdown-item" href="#" data-browse-filter-type="order_by" data-browse-filter-value="">Remove filter</a></li>
                            <li><hr class="dropdown-divider"></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="#" data-browse-filter-type="order_by" data-browse-filter-value="latest">Latest</a></li>
                        <li><a class="dropdown-item" href="#" data-browse-filter-type="order_by" data-browse-filter-value="oldest">Oldest</a></li>
                        <li><a class="dropdown-item" href="#" data-browse-filter-type="order_by" data-browse-filter-value="name">Name</a></li>
                        <li><a class="dropdown-item" href="#" data-browse-filter-type="order_by" data-browse-filter-value="highest-rated">Highest Rated</a></li>
                        <li><a class="dropdown-item" href="#" data-browse-filter-type="order_by" data-browse-filter-value="lowest-rated">Lowest Rated</a></li>
                        <li><a class="dropdown-item" href="#" data-browse-filter-type="order_by" data-browse-filter-value="most-difficult">Most Difficult</a></li>
                        <li><a class="dropdown-item" href="#" data-browse-filter-type="order_by" data-browse-filter-value="least-difficult">Least Difficult</a></li>
                        <li><a class="dropdown-item" href="#" data-browse-filter-type="order_by" data-browse-filter-value="most-downloaded">Most Downloaded</a></li>
                        <li><a class="dropdown-item" href="#" data-browse-filter-type="order_by" data-browse-filter-value="least-downloaded">Least Downloaded</a></li>
                    </ul>
                </div>

            </div>

            <div class="" style="margin-top: 4px;">
                {# Pagination #}
                {% include 'workshop/_workshop_browse_pagination.html.twig' %}
            </div>

        </div>

        <div class="content-body" style="padding-top: 0px;">

            {# Show notice when no items #}
            {% if workshop_items|length == 0 %}
                <p style="margin: 15px 0 0 0;">No workshop items found</p>
            {% endif %}

            <div class="workshop-grid">

                {% for item in workshop_items %}
                    <div class="workshop-grid-item">

                        {# Thumbnail #}
                        <div class="workshop-grid-item-image-container">
                            <a href="/workshop/item/{{ item.id }}/{{ item.name|slugify }}">
                                {% if item.thumbnail is not null %}
                                    <img src="/workshop/image/{{ item.id }}/{{ item.thumbnail }}" />
                                {% elseif item.images|length > 0 %}
                                    <img src="/workshop/image/{{ item.id }}/{{ item.images|first.filename }}" />
                                {% else %}
                                    <img src="/img/no-image-256.png" />
                                {% endif %}
                            </a>
                        </div>

                        <div class="workshop-grid-item-info">

                            {# Show a notice for broken items #}
                            {% if item.isLastFileBroken %}
                                    <ion-icon
                                        name="alert-circle-outline"
                                        class="workshop-grid-notice-icon"
                                        style="color: #f91b1b !important;
                                        {% if item.minGameBuild is not null and item.minGameBuild == -1 %} right: 34px;{% else %} right:8px;{% endif %}
                                        "
                                        data-bs-toggle="popover" data-bs-placement="top"
                                        data-bs-content="This workshop item is considered broken by the KeeperFX team."
                                    ></ion-icon>
                            {% endif %}

                            {# Show a notice for items requiring the latest alpha patch #}
                            {% if item.minGameBuild is not null and item.minGameBuild == -1 %}
                                    <ion-icon
                                        name="alert-circle-outline"
                                        class="text-warning workshop-grid-notice-icon"
                                        style="right: 8px;";
                                        data-bs-toggle="popover" data-bs-placement="top"
                                        data-bs-content="This workshop item uses unreleased KeeperFX functionality and requires the latest alpha patch to work correctly."
                                    ></ion-icon>
                            {% endif %}

                            {# Title #}
                            <div class="workshop-grid-item-title"
                                {# Optionally add some padding to the right to make place for the notice icons #}
                                {% if item.minGameBuild is not null and item.minGameBuild == -1 and not item.isLastFileBroken %}style="padding-right: 10px;"{% endif %}
                                {% if (item.minGameBuild is null or item.minGameBuild != -1) and item.isLastFileBroken %}style="padding-right: 10px;"{% endif %}
                                {% if item.minGameBuild is not null and item.minGameBuild == -1 and item.isLastFileBroken %}style="padding-right: 20px;"{% endif %}
                            >
                                <a href="/workshop/item/{{ item.id }}/{{ item.name|slugify }}" title="{{ item.name }}">
                                    {{ item.name }}
                                </a>
                            </div>

                            {# Info #}
                            <div class="row" style="margin-top: 10px;">

                                <div class="col-7">

                                    {# Type #}
                                    {# <span class="text-warning"> #}
                                    <span style="margin-top: 2px; display: block; margin-bottom: 5px">
                                        {{ item.category.name|enum_beautify }}
                                    </span>

                                    {# User or Original Author #}
                                    <div class="workshop-grid-item-user">
                                        {% include 'workshop/_user_small.widget.html.twig' with {workshop_item: item, includeOriginalAuthor: true} %}
                                    </div>

                                </div>

                                <div class="col-5" style="text-align: right;">

                                    {# Quality Rating #}
                                    {% if item.ratingScore is not null %}
                                        {{ render_workshop_quality_rating(item.id, item.ratingScore) }}
                                    {% endif %}

                                    {# Difficulty Rating #}
                                    {% if item.difficultyRatingEnabled and item.difficultyRatingScore is not null and item.category not in workshop_globals.categories_without_difficulty %}
                                        {{ render_workshop_difficulty_rating(item.id, item.difficultyRatingScore) }}
                                    {% endif %}

                                    {# Date #}
                                    {# {% if item.originalCreationDate is not null %}
                                        {{ item.originalCreationDate|date('Y-m-d') }}
                                    {% else %}
                                        {{ item.updatedTimestamp|date('Y-m-d') }}
                                    {% endif %} #}

                                    {# Downloads #}
                                    {# <span style="margin-top: 7px; display: inline-block;">
                                        {{ item.downloadCount }}
                                        {% if item.downloadCount == 1 %}
                                            download
                                        {% else %}
                                            downloads
                                        {% endif %}
                                    </span> #}
                                </div>

                            </div>

                        </div>

                    </div>
                {% endfor %}

                {# Fix the grid having only 1 column when there is only 1 workshop item #}
                {% if workshop_items|length == 1 %}
                    <div></div>
                {% endif %}

            </div>
        </div>


        {# Pagination (bottom) #}
        {% if pagination|length > 1 %}
            <div class="content-menu d-flex justify-content-start" style="padding-top: 0px;">
                <div class="" style="margin-top: 4px;">
                    {% include 'workshop/_workshop_browse_pagination.html.twig' %}
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block body_javascript %}
    <script src="{{ asset('js/workshop.js') }}"></script>
{% endblock %}
