{% extends "workshop/_workshop_layout.html.twig" %}

{% set page_title = 'Edit workshop item - ' ~ workshop_item.name ~ ' - Workshop' %}

{% block workshop_content %}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>Edit workshop item: {{ workshop_item.name }}</h2>
        </div>

        <div class="content-body">

            <form action="/workshop/edit/{{ workshop_item.id }}" method="POST" enctype="multipart/form-data" id="edit-item-form">

                <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
                <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />

                <div class="row" style="margin-bottom: 25px;">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name">
                                Name
                                <span class="text-danger">
                                    *
                                </span>
                            </label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ workshop_item.name }}" required>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 25px;">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="category">
                                Category
                                <span class="text-danger">
                                    *
                                </span>
                            </label>
                            <select class="form-control form-select" id="category" name="category" required>
                                <option value="" disabled hidden>Choose the category of this item</option>
                                {% if workshop_globals.categories|length > 0 %}
                                    {% for category in workshop_globals.categories %}
                                        <option value="{{ category.value }}" {% if category.value == workshop_item.category.value %}selected=selected{% endif %}>
                                            {{ category.name|enum_beautify }}
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="min_game_build">
                                Minimum game version
                                <span class="text-muted">
                                    (Optional)
                                </span>
                            </label>
                            <select class="form-control form-select" id="min_game_build" name="min_game_build">
                                <option {% if workshop_item.minGameBuild == null %}selected=selected{% endif %} value="0"></option>
                                <option {% if workshop_item.minGameBuild == -1 %}selected=selected{% endif %} value="-1">Lastest alpha patch</option>
                                {% if workshop_globals.stable_builds|length > 0 %}
                                    {% for build in workshop_globals.stable_builds %}
                                        <option value="{{ build.id }}" {% if workshop_item.minGameBuild != null and workshop_item.minGameBuild == build.id %}selected=selected{% endif %}>{{ build.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- TODO: hide on mobile -->
                <div class="row" style="margin-bottom: 50px; display: none;" id="image-uploader">

                    <div class="col-md-12">
                        <span class="label">
                            Images
                        </span>

                        <div class="image-widget-container" style="margin-top: 10px;" id="image-widget-container"></div>
                        <input type="hidden" name="image-widget" id="image-widget" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">
                        Description
                        <span class="text-muted">
                            (Optional)
                        </span>
                    </label>
                    <textarea class="form-control" name="description" rows="6">{{ workshop_item.description }}</textarea>
                </div>

                <div class="form-group">
                    <label for="install_instructions">
                        Installation instructions
                        <span class="text-muted">
                            (Optional)
                        </span>
                    </label>
                    <textarea class="form-control" name="install_instructions" rows="4">{{ workshop_item.installInstructions }}</textarea>
                </div>

                <div class="row" style="margin-top: 25px; margin-bottom: 30px;">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="original_author">
                                Original Author
                                <span class="text-muted">
                                    (Optional)
                                </span>
                            </label>
                            <input type="text" class="form-control" id="original_author" name="original_author" value="{{ workshop_item.originalAuthor }}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="original_creation_date">
                                Original Creation Date
                                <span class="text-muted">
                                    (Optional)
                                </span>
                            </label>
                            <div class="input-group mb-3">
                                <input type="date" class="form-control" id="original_creation_date" name="original_creation_date"
                                    value="{% if workshop_item.originalCreationDate %}{{ workshop_item.originalCreationDate|date('Y-m-d') }}{% endif %}">
                                <button class="btn btn-outline-secondary" type="button" onclick="javascript:original_creation_date.value=''">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-medieval" value="Save" />
                </div>

            </form>
        </div>
    </div>

{% endblock %}


{% block body_javascript %}
    <script>var imageWidgetData = {{ image_widget_data|json_encode|raw }};</script>
    <script src="{{ asset('js/workshop.edit.js') }}"></script>
    <script src="{{ asset('js/image-widget.js') }}"></script>
{% endblock %}
