{% extends "workshop/_workshop_layout.html.twig" %}

{% set page_title = item.name ~ ' - Workshop' %}

{% set meta = {
    title: item.title ?? '',
    description: item.description ?? '',
    og: {
        url: '/workshop/item/' ~ item.id ~ '/' ~ item.name|slugify,
        image: item.thumbnail ?
            '/workshop/thumbnail/' ~ item.id ~ '/' ~ item.thumbnail :
            '/img/horny-face.png'
    }
} %}

{% block workshop_content %}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-body">

            <div class="row">

                <div class="col-md-5">

                    {# Thumbnail #}
                    <div class="workshop-item-thumbnail bd-keeper">
                        {% if item.thumbnail is not null %}
                            <img src="/workshop/thumbnail/{{ item.id }}/{{ item.thumbnail }}" />
                        {% else %}
                            <img src="/img/horny-face.png" />
                        {% endif %}
                    </div>

                    {# Screenshots #}
                    {% if screenshots|length > 0 %}
                        <div class="workshop-screenshots" id="workshop-screenshots" style="margin-top: 15px;">
                            {% for screenshot in screenshots %}
                                <div class="workshop-screenshot">
                                    <a href="/workshop/screenshot/{{ item.id }}/{{ screenshot.filename }}"
                                        data-pswp-width="{{ screenshot.width }}"
                                        data-pswp-height="{{ screenshot.height }}"
                                        data-cropped="true"
                                        class="workshop-screenshot-item"
                                        target="_blank">
                                            <img src="/workshop/screenshot/{{ item.id }}/{{ screenshot.filename }}" alt="" />
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>

                <div class="col-md-7">

                    {# Title #}
                    <h2 class="workshop-item-title">{{ item.name }}</h2>

                    {# Submitted by & Rating #}
                    <div class="d-flex justify-content-between" style="margin-top: 15px;">

                        {# Submitted by #}
                        <div class="">
                            <span style="margin-right: 3px;">
                                Submitted by
                            </span>

                            {# User #}
                            {% include 'workshop/_user_small.widget.html.twig' with {workshop_item: item, preferOriginalAuthor: false} %}
                        </div>

                        {# Rating #}
                        <div class="">
                            {{ render_workshop_overall_rating(item.id, rating.score) }}
                        </div>
                    </div>

                    {# Divider #}
                    <hr />

                    {# Information fields #}
                    <table style="margin: 15px;">
                        <tr>
                            <td>Type</td>
                            <td class="text-stand-out" style="padding-left: 25px;">
                                {{ item.type.name|enum_beautify }}
                            </td>
                        </tr>
                        <tr style="height: 15px;">{# Empty table row spacer #}</tr>
                        <tr>
                            <td>Submission date</td>
                            <td class="text-stand-out time-ago" style="padding-left: 25px;">
                                {{ item.createdTimestamp|date('Y-m-d') }}
                            </td>
                        </tr>
                        <tr>
                            <td>Last updated</td>
                            <td class="text-stand-out" style="padding-left: 25px;">
                                    {{ item.updatedTimestamp|date('Y-m-d') }}
                            </td>
                        </tr>
                        <tr style="height: 15px;"><!-- Spacer row --></tr>
                        {% if item.originalAuthor is not empty or item.originalCreationDate is not empty %}
                            {% if item.originalAuthor is not empty %}
                                <tr>
                                    <td>Original author</td>
                                    <td class="text-stand-out" style="padding-left: 25px;">{{ item.originalAuthor }}</td>
                                </tr>
                            {% endif %}
                            {% if item.originalCreationDate %}
                                <tr>
                                    <td>Original creation date</td>
                                    <td class="text-stand-out" style="padding-left: 25px;">{{ item.originalCreationDate|date('Y-m-d') }}</td>
                                </tr>
                            {% endif %}
                            <tr style="height: 15px;"><!-- Spacer row --></tr>
                        {% endif %}
                        <tr>
                            <td>Rating</td>
                            <td class="text-stand-out" style="padding-left: 25px;">
                                {% if rating.score is not null %}
                                    <span id="rating-score">{{ rating.score|round(2, 'floor') }}</span> / 5

                                    <span class="text-muted" style="margin-left: 5px;" id="rating-count">
                                        {% if rating.amount == 1 %}
                                            (1 rating)
                                        {% else %}
                                            ({{ rating.amount }} ratings)
                                        {% endif %}
                                    </span>
                                {% else %}
                                    Not rated yet
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Downloads</td>
                            <td class="text-stand-out" style="padding-left: 25px;">{{ item.downloadCount }}</td>
                        </tr>
                        <tr style="height: 15px;"><!-- Spacer row --></tr>
                        {% if item.minGameBuild is not null %}
                            <tr>
                                <td>Min. game version</td>
                                <td class="text-stand-out" style="padding-left: 25px;">
                                    {{ item.minGameBuild.name }}
                                    {# <span class="text-muted" style="margin-left: 5px;">(and up)</span> #}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Filesize</td>
                            <td class="text-stand-out" style="padding-left: 25px;">{{ filesize|format_bytes }}</td>
                        </tr>
                    </table>

                    {# Download & Edit buttons #}
                    <div class="text-center" style="width: 100%;">

                        {# Download button #}
                        <a
                            href="/workshop/download/{{ item.id }}/{{ item.filename|url_encode }}"
                            class="btn btn-lg btn-medieval"
                            style="margin-top: 20px; width: 100%; max-width: 300px;"
                            download>
                                Download
                        </a>

                        {# Edit buttons #}
                        {% if account != null %}
                            {% if item.submitter != null and item.submitter.id == account.id %}
                                <a
                                    href="/workshop/edit/{{ item.id }}"
                                    class="btn btn-medieval btn-medieval-gray"
                                    style="margin-top: 15px; width: 100%; max-width: 300px;">
                                        Edit this workshop item
                                </a>
                            {% endif %}
                            {% if account.role >= roles.admin %}
                                <a
                                    href="/workshop-mod/workshop/{{ item.id }}"
                                    class="btn btn-medieval btn-medieval-gray"
                                    style="margin-top: 15px; width: 100%; max-width: 300px;">
                                        Edit item as workshop moderator
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>

                    {# Description #}
                    {% if item.description is not empty %}
                        <h5 style="margin-top: 50px;">Description</h5>
                        <div class="workshop-item-text-content" style="margin-top: 20px;">
                            {{ item.description|nl2br|markdown_to_html }}
                        </div>
                    {% endif %}

                    {# Install Instructions #}
                    {% if item.installInstructions is not empty %}
                        <h5 style="margin-top: 50px;">Installation Intructions</h5>
                        <div class="workshop-item-text-content" style="margin-top: 20px;">
                            {{ item.installInstructions|nl2br|markdown_to_html }}
                        </div>
                    {% endif %}

                    <br />

                </div>

            </div>
        </div>
    </div>

    {# Comments #}
    {# <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>Comments</h2>
        </div>
        <div class="content-body">
            <p>
                No comments yet.
            </p>
            <div class="form-group">
                <textarea class="form-control" name="comment" rows="4"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-medieval" value="Submit" />
            </div>
        </div>
    </div> #}

{% endblock %}



{% block body_javascript %}
<script>
    const workshop_item = {
        id: {{ item.id }},
        slug: '{{ item.name|slugify }}',
        submitter_id: {{ item.submitter.id ?? 'null' }}
    }
</script>
<script type="module">
    import PhotoSwipeLightbox from 'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.4/photoswipe-lightbox.esm.min.js';

    // Initialize image lightbox
    const lightbox = new PhotoSwipeLightbox({
        bgOpacity: 0.8,
        gallery: '#workshop-screenshots',
        children: 'a.workshop-screenshot-item',
        pswpModule: () => import('https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.4/photoswipe.esm.min.js'),
        mainClass: 'pswp-with-perma-preloader',
        initialZoomLevel: 'fit',
        showHideAnimationType: 'zoom'
    });

    // Init lightbox
    lightbox.init();
</script>
<script>

    function handleRatingHtml(el){

        var $ratingBox     = $(el);
        var workshopItemId = $ratingBox.attr('data-workshop-item-id');

        $.each($(el).find('img'), function(index, element){

            var ratingScore = parseInt($(element).attr('data-rating-score'));

            $(element).css('cursor', 'pointer');

            $(element).on('click', function(e){

                // Hide open popover
                $('.popover').hide();

                // Make sure we are logged in
                if(app_store.account === null){
                    window.location = '/login'
                        + '?redirect=/workshop/item/' + workshop_item.id + '/' + workshop_item.slug
                        + '&msg=workshop-rate';
                    return;
                }

                // Disable rating own account items
                if(app_store.account.id === workshop_item.submitter_id){
                    toastr.warning('You can not rate your own workshop items!');
                    return;
                }

                // Rate the workshop item
                $.ajax({
                    type: 'POST',
                    url: '/workshop/rate/' + workshopItemId,
                    data: {
                        score: ratingScore,
                        [app_store.csrf.keys.name]: app_store.csrf.name,
                        [app_store.csrf.keys.value]: app_store.csrf.value
                    },
                    dataType: 'json', // return type data,
                    error: function(data){
                        toastr.error('Something went wrong.');
                    },
                    success: function(data){

                        // Make sure rating went successful
                        if(typeof data.success === 'undefined' || data.success !== true){
                            toastr.error('Something went wrong.');
                            return;
                        }

                        // Update rating stars HTML
                        $ratingBox.html(data.html);
                        handleRatingHtml($ratingBox);

                        // Update rating score in workshop item info
                        $('#rating-score').text(data.rating_score);

                        // Update rating count in workshop item info
                        if(data.rating_count === 1){
                            $('#rating-count').text('(1 rating)');
                        } else {
                            $('#rating-count').text('(' + data.rating_count + ' ratings)');
                        }

                        // Update CSRF tokens
                        app_store.csrf.name = data.csrf.name;
                        app_store.csrf.value = data.csrf.value;

                        toastr.success('You have succesfuly rated this workshop item!');

                    },
                });
            });

            new bootstrap.Popover(element, {
                'placement': 'top',
                'trigger': 'hover',
                'content': 'Rate this item ' + ratingScore + ' out of 5'
            });
        });
    }

    $(function(e){

        $.each($('[data-workshop-item-id]'), function(i, el){

            handleRatingHtml(el);

        });
    });
</script>
{% endblock %}
