{% extends "workshop/_workshop_layout.html.twig" %}

{% set page_title = item.name ~ ' - Workshop' %}

{% set meta = {
    title: item.title ?? '',
    description: item.description ?? '',
    og: {
        url: '/workshop/item/' ~ item.id ~ '/' ~ item.name|slugify,
        image: item.images|first ? '/workshop/image/' ~ item.id ~ '/' ~ item.images|first.filename : '/img/no-image-512.png'
    }
} %}

{% block workshop_content %}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-body">

            {# Title #}
            <h2 class="workshop-item-title">{{ item.name }}</h2>

            {# Submitted by & Edit buttons #}
            <div class="d-flex justify-content-between" style="margin-top: 10px;  margin-bottom: 16px; padding: 0 5px;">

                {# Submitted by #}
                <div class="">

                    {# User #}
                    {% if item.originalAuthor is not null %}
                        Created by
                        <a href="/workshop/browse?original_author={{ item.originalAuthor|url_encode }}" class="username-link-org-author">{{ item.originalAuthor }}</a>
                    {% else %}
                        <span style="margin-right: 3px;">
                            Submitted by
                        </span>
                        {% include 'workshop/_user_small.widget.html.twig' with {workshop_item: item, includeOriginalAuthor: false} %}
                    {% endif %}
                </div>

                {# Edit #}
                <div class="">
                {% if account != null %}
                    <div style="margin-bottom: -16px; top: -8px; position: relative; right: -5px;">
                        {% if account.role >= roles.moderator %}
                            <a href="/moderate/workshop/{{ item.id }}" class="btn btn-medieval btn-medieval-gray">
                                Edit as moderator
                            </a>
                        {% endif %}
                        {% if item.submitter != null and item.submitter.id == account.id %}
                            <a href="/workshop/edit/{{ item.id }}/files" class="btn btn-medieval">
                                Edit files
                            </a>
                            <a href="/workshop/edit/{{ item.id }}" class="btn btn-medieval">
                                Edit your workshop item
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
                </div>
            </div>

            <div class="row">

                <div class="col-md-5">

                    {# Images #}
                    <div class="workshop-item-images" id="workshop-images">
                        {% if item.images|length == 0 %}
                            <div class="workshop-item-image bd-keeper">
                                <img src="/img/no-image-512.png" />
                            </div>
                        {% else %}
                            {% for image in item.images %}
                                <div class="workshop-item-image bd-keeper">
                                    <a href="/workshop/image/{{ item.id }}/{{ image.filename }}"
                                        data-pswp-width="{{ image.width }}"
                                        data-pswp-height="{{ image.height }}"
                                        data-cropped="true"
                                        class="workshop-image"
                                        target="_blank">
                                            <img src="/workshop/image/{{ item.id }}/{{ image.filename }}" alt="" />
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="col-md-7">

                    {# Information #}
                    <div class="workshop-info-box">
                        <table style="margin: 15px;">
                            <tr>
                                <td>Category</td>
                                <td class="text-stand-out" style="padding-left: 25px;">
                                    {{ item.category.name|enum_beautify }}
                                </td>
                            </tr>
                            <tr style="height: 15px;"><!-- Spacer row --></tr>
                            <tr>
                                <td style="vertical-align: top">Rating</td>
                                <td class="text-stand-out" style="padding-left: 25px;">

                                    {{ render_workshop_quality_rating(item.id, item.ratingScore) }}

                                    <span id="quality-rating-info" class="text-muted" style="display: block; margin-top: 3px;">
                                        {% if item.ratingScore is not null %}
                                            <span id="quality-rating-score" class="text-muted">{{ item.ratingScore|round(2, 'floor') }}</span> / 5
                                            <span style="margin: 0 3px" class="text-muted">&bull;</span>
                                            <span id="quality-rating-count" class="text-muted">
                                                {% if rating_amount == 1 %}
                                                    1 rating
                                                {% else %}
                                                    {{ rating_amount }} ratings
                                                {% endif %}
                                            </span>
                                            {% if user_rating != null %}
                                                <span style="margin: 0 3px" class="text-muted">&bull;</span>
                                                Your rating:
                                                <span id="quality-rating-self" class="text-muted">{{ user_rating }}</span>
                                                <a href="#" data-workshop-rating-type="quality" class="rating-remove text-stand-out">Remove</a>
                                            {% endif %}
                                        {% else %}
                                            Not rated yet
                                        {% endif %}
                                    </span>
                                </td>
                            </tr>
                            {% if item.category not in workshop_globals.categories_without_difficulty and item.difficultyRatingEnabled %}
                            <tr style="height: 15px;">{# Empty table row spacer #}</tr>
                            <tr>
                                <td style="vertical-align: top">Difficulty</td>
                                <td class="text-stand-out" style="padding-left: 25px;">

                                    {{ render_workshop_difficulty_rating(item.id, item.difficultyRatingScore) }}

                                    <span id="difficulty-rating-info" class="text-muted" style="display: block; margin-top: 3px;">
                                        {% if item.difficultyRatingScore is not null %}
                                            <span id="difficulty-rating-score" class="text-muted">{{ item.difficultyRatingScore|round(2, 'floor') }}</span> / 5
                                            <span style="margin: 0 3px" class="text-muted">&bull;</span>
                                            <span id="difficulty-rating-total" class="text-muted">
                                                {% if difficulty_rating_amount == 1 %}
                                                    1 rating
                                                {% else %}
                                                    {{ difficulty_rating_amount }} ratings
                                                {% endif %}
                                            </span>
                                            {% if user_difficulty_rating != null %}
                                                <span style="margin: 0 3px" class="text-muted">&bull;</span>
                                                Your rating:
                                                <span id="difficulty-rating-self" class="text-muted">{{ user_difficulty_rating }}</span>
                                                <a href="#" data-workshop-rating-type="difficulty" class="rating-remove text-stand-out">Remove</a>
                                            {% endif %}
                                        {% else %}
                                            Not rated yet
                                        {% endif %}
                                    </span>
                                </td>
                            </tr>
                            {% endif %}
                            <tr style="height: 15px;">{# Empty table row spacer #}</tr>
                            {% if item.originalAuthor is not empty and item.submitter is not null %}
                                <tr>
                                    <td>Submitted by</td>
                                    <td class="text-stand-out" style="padding-left: 25px;">
                                        {% include 'workshop/_user_small.widget.html.twig' with {workshop_item: item, includeOriginalAuthor: false} %}
                                    </td>
                                </tr>
                                <tr style="height: 15px;">{# Empty table row spacer #}</tr>
                            {% endif %}
                            {% if item.originalCreationDate %}
                                <tr>
                                    <td>Original creation date</td>
                                    <td class="text-stand-out" style="padding-left: 25px;">{{ item.originalCreationDate|date('Y-m-d') }}</td>
                                </tr>
                                <tr style="height: 15px;"><!-- Spacer row --></tr>
                            {% endif %}
                            <tr>
                                <td>Submission date</td>
                                <td class="text-stand-out time-ago" style="padding-left: 25px;">
                                    {{ item.createdTimestamp|date('Y-m-d') }}
                                </td>
                            </tr>
                            {% if item.updatedTimestamp != item.createdTimestamp %}
                                <tr>
                                    <td>Last updated</td>
                                    <td class="text-stand-out" style="padding-left: 25px;">
                                            {{ item.updatedTimestamp|date('Y-m-d') }}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if item.minGameBuild is not null %}
                                <tr style="height: 15px;"><!-- Spacer row --></tr>
                                <tr>
                                    <td>Min. game version</td>
                                    <td class="text-stand-out" style="padding-left: 25px;">
                                        {% if item.minGameBuild == -1 %}
                                            Latest KeeperFX alpha patch
                                        {% else %}
                                            {{ workshop_globals.stable_builds[item.minGameBuild].name }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}

                            {% if item.files|length > 0 %}
                                <tr style="height: 15px;"><!-- Spacer row --></tr>
                                <tr>
                                    <td>Filesize</td>
                                    <td class="text-stand-out" style="padding-left: 25px;">
                                        {{ item.files|first.size|format_bytes }}
                                    </td>
                                </tr>
                            {% endif %}

                            <tr>
                                <td>Downloads</td>
                                <td class="text-stand-out" style="padding-left: 25px;">{{ item.downloadCount }}</td>
                            </tr>

                        </table>

                        {# Download button #}
                        {% if item.files|length > 0 %}
                            <div class="text-center" style="margin-bottom: 10px; width: 100%; margin-top: 30px;">
                                <a
                                    href="/workshop/download/{{ item.id }}/{{ item.files|first.id }}/{{ item.files|first.filename|url_encode }}"
                                    class="btn btn-lg btn-medieval {% if item.isBundledWithGame %}btn-grayscale{% endif %}"
                                    style="width: 100%; max-width: 300px; min-height: 50px; padding-top: 9px; padding-bottom: 4px; font-size: {% if item.isBundledWithGame %}18{% else %}22{% endif %}px;"
                                    download>
                                        {% if item.isBundledWithGame %}
                                            Included with KeeperFX
                                        {% else %}
                                            Download
                                        {% endif %}
                                        <span class="btn-download-filename">
                                            {{ item.files|first.filename }}
                                        </span>
                                </a>
                                <div style="display:none; margin-top: 10px;" class="text-muted" id="show-all-versions">
                                    <a href="#">Show all versions ({{ item.files|length }})</a>
                                </div>
                            </div>
                        {% endif %}

                    </div>

                </div>

            </div>

            <div class="row" style="">
                <div class="col-12">

                    {% if item.files|length > 0 %}
                        <div id="all-versions-list" class="workshop-file-list-box" style="margin-top: 30px;">
                            <table class="table" style="margin-bottom: 0px;">
                                <thead>
                                    <tr>
                                        <th>File</th>
                                        <th>Filesize</th>
                                        <th>Downloads</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file in item.files %}
                                        <tr>
                                            <td><a href="/workshop/download/{{ item.id }}/{{ file.id }}/{{ file.filename|url_encode }}">{{ file.filename }}</td>
                                            <td>{{ file.size|format_bytes }}</td>
                                            <td>{{ file.downloadCount }}</td>
                                            <td>{{ file.createdTimestamp|date('Y-m-d') }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    {# Description #}
                    {% if item.description is not empty %}
                        <div class="workshop-info-box" style="padding: 25px; margin-top: 30px;">
                            <h5 style="border-bottom: 0;">Description</h5>
                            <div class="workshop-item-text-content force-wordwrap" style="margin-top: 25px;">
                                {{ item.description|preg_replace("~([\r]?\n[\s]*){3,}~", "\n")|trim|markdown_to_html }}
                            </div>
                        </div>
                    {% endif %}

                    {# Install Instructions #}
                    {% if item.installInstructions is not empty %}
                        <div class="workshop-info-box" style="padding: 25px; margin-top: 30px;">
                            <h5 style="border-bottom: 0;">Installation Intructions</h5>
                            <div class="workshop-item-text-content force-wordwrap" style="margin-top: 25px;">
                                {{ item.installInstructions|preg_replace("~([\r]?\n[\s]*){3,}~", "\n")|trim|markdown_to_html }}
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    {# Comments #}
    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>Comments</h2>
        </div>
        <div class="content-body">

            {# Comment area #}
            {% if account is null %}
                <p>
                    <a href="/login?redirect={{ get_path() }}">Login</a> or <a href="/register">register</a> to comment on this workshop item.
                </p>
            {% else %}
                <form action="/workshop/item/{{ item.id }}/comment" method="POST">
                    <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
                    <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
                    <div class="" style="width: 100%; margin-left: 5px; padding: 0;">
                        <div class="force-wordwrap" style="margin-bottom: 12px; margin-top: 0px; margin-right: 10px;">
                            <textarea class="form-control" name="content" rows="2" placeholder="Write a comment" required id="comment-input"></textarea>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-top: 15px;" id="comment-submit-button">
                        <input type="submit" class="btn btn-medieval" value="Comment" />
                    </div>
                </form>
            {% endif %}


            {# Comments #}
            {% if item.comments|length == 0 %}
                <p style="margin-top: 20px;">
                    No comments yet.
                </p>
            {% else %}
                {% for comment in item.comments %}
                    <div class="workshop-item-comment d-flex" data-comment-id="{{ comment.id }}" id="comment-{{ comment.id }}">

                        <div class="" style="height: 100%;">
                            {% if comment.user.avatar %}
                                <img src="/avatar/{{ comment.user.avatar }}" class="user-avatar user-avatar-big" onerror="this.src='{{ avatar(comment.user.username, 'circle', 128) }}';" />
                            {% else %}
                                <img src="{{ avatar(comment.user.username, 'circle', 128) }}" class="user-avatar user-avatar-big" />
                            {% endif %}
                        </div>

                        <div class="" style="width: 100%; margin-left: 10px; padding: 0; padding-top: 2px;">
                                <div class="d-flex justify-content-between" style="width: 100%;">

                                    {# Left side #}
                                    <span>

                                        {# Username #}
                                        <a
                                        href="/workshop/browse?user={{ comment.user.username }}"
                                        title="Browse {{ comment.user.username }}'s Workshop Items"
                                        class="user-link d-inline-block me-2">
                                            <span class="user-username">{{ comment.user.username }}</span>
                                        </a>

                                        {# Badge: If user is submitter #}
                                        {% if item.submitter is not null and comment.user == item.submitter %}
                                            <span class="badge bg-dark text-uppercase" style="font-size: 10px; position: relative; top: -2px; padding: 3px 4px 2px 4px;">Submitter</span>
                                        {% endif %}

                                        {# Badge: If user is admin #}
                                        {% if comment.user.role.value == roles.admin  %}
                                            <span class="badge bg-dark text-uppercase" style="font-size: 10px; position: relative; top: -2px; padding: 3px 4px 2px 4px;">Admin</span>
                                        {% endif %}

                                        {# Date #}
                                        <time class="text-muted" datetime="{{ comment.createdTimestamp|date('c') }}">
                                            {{ comment.createdTimestamp|date('Y/m/d - H:i') }}
                                        </time>

                                    </span>

                                    {# Right side #}
                                    <span style="position: relative; top: -3px; display: none;" class="comment-buttons">

                                        {% if account is not null %}

                                            {# Reply button #}
                                            <button class="btn" style="padding: 2px; margin-right: 5px; height: 24px;" type="button" data-comment-action="reply">
                                                <ion-icon name="chatbubbles-outline"></ion-icon>
                                            </button>

                                            {# Comment extra menu button #}
                                            <div class="btn-group">
                                                <button class="btn dropdown-toggle caret-off" style="padding: 2px; height: 24px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-dark bg-keeper bd-keeper">
                                                    {% if comment.user.id == account.id  %}
                                                        <li><a class="dropdown-item" data-comment-action="edit" href="#">Edit</a></li>
                                                        <li><a class="dropdown-item" data-comment-action="delete" href="#">Delete</a></li>
                                                        <li><hr class="dropdown-divider"></li>
                                                    {% endif %}
                                                    <li><a class="dropdown-item" data-comment-action="report" href="#">Report</a></li>
                                                </ul>
                                            </div>

                                        {% endif %}
                                    </span>
                                </div>

                                <div class="force-wordwrap workshop-item-comment-content" style="margin-bottom: 15px; margin-top: 3px; margin-right: 10px;">
                                    {# {{ comment.content|preg_replace("~([\r]?\n[\s]*){3,}~", "\n\n")|trim|nl2br }} #}
                                    {{ comment.content|markdown_to_html }}
                                </div>
                        </div>



                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}



{% block body_javascript %}
<script>
    const workshop_item = {
        id: {{ item.id }},
        slug: '{{ item.name|slugify }}',
        submitter_id: {{ item.submitter.id ?? 'null' }}
    }
</script>
<script type="module">
    import PhotoSwipeLightbox from 'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.4/photoswipe-lightbox.esm.min.js';

    // Initialize image lightbox
    const lightbox = new PhotoSwipeLightbox({
        bgOpacity: 0.8,
        gallery: '#workshop-images',
        children: 'a.workshop-image',
        pswpModule: () => import('https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.4/photoswipe.esm.min.js'),
        mainClass: 'pswp-with-perma-preloader',
        initialZoomLevel: 'fit',
        showHideAnimationType: 'zoom'
    });

    // Init lightbox
    lightbox.init();
</script>
<script src="{{ asset('js/workshop.item.js') }}"></script>
{% endblock %}
