{% extends "workshop/_workshop_layout.html.twig" %}

{% set page_title = 'My Ratings' %}



{% block workshop_content %}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>
                My ratings
                <span class="text-muted">({{ ratings|length }})</span>
            </h2>
        </div>
        <div class="content-body">

            {% if ratings|length == 0 %}
                <p>
                    You have not rated any workshop items yet. Go rate a few workshop items and you'll be able to keep track of your ratings on this page.
                </p>
            {% else %}

                <span style="font-size: 20px" class="mx-3">Filter:</span>

                    <div class="form-group mt-2 mx-3">
                        <button type="button" class="btn btn-dark" id="filter-quality-1" data-filter=false>
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                        </button>
                        <button type="button" class="btn btn-dark" id="filter-quality-2" data-filter=false>
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                        </button>
                        <button type="button" class="btn btn-dark" id="filter-quality-3" data-filter=false>
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                        </button>
                        <button type="button" class="btn btn-dark" id="filter-quality-4" data-filter=false>
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                        </button>
                        <button type="button" class="btn btn-dark" id="filter-quality-5" data-filter=false>
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star2-full.png" style="width: 18px; height: 18px;" />
                        </button>
                    </div>

                    <div class="form-group mt-2 mx-3">
                        <button type="button" class="btn btn-dark" id="filter-difficulty-1" data-filter=false>
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                        </button>
                        <button type="button" class="btn btn-dark" id="filter-difficulty-2" data-filter=false>
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                        </button>
                        <button type="button" class="btn btn-dark" id="filter-difficulty-3" data-filter=false>
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                        </button>
                        <button type="button" class="btn btn-dark" id="filter-difficulty-4" data-filter=false>
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                        </button>
                        <button type="button" class="btn btn-dark" id="filter-difficulty-5" data-filter=false>
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                            <img src="/img/rating/star-difficulty-full.png" style="width: 18px; height: 18px;" />
                        </button>
                    </div>

                </p>

                <input class="form-control form-form-control-sm" id="search" placeholder="Search" style="margin-bottom: 15px;" />

                <table class="table">
                    <thead>
                        <tr>
                            <th>Workshop Item</th>
                            <th>Rating</th>
                            <th>Difficulty Rating</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        {% for rating in ratings %}
                            <tr>
                                <td>
                                    {% if rating.item %}
                                        <a href="/workshop/item/{{ rating.item.id }}/{{ rating.item.name|slugify }}">{{ rating.item.name }}</a>
                                        {% if rating.item.submitter is not null and rating.item.submitter.id == account.id %}
                                            <span class="text-muted">(self)</span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if rating.quality_score %}
                                        {{ render_workshop_quality_rating(rating.item.id, rating.quality_score) }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if rating.difficulty_score %}
                                        {{ render_workshop_difficulty_rating(rating.item.id, rating.difficulty_score) }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ rating.date|date('Y-m-d') }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block body_javascript %}

    <script>

        $(function(){

            // Variables
            $tableRows   = $('#table-body tr');

            function updateTableRows()
            {
                $('#table-body tr').unmark();

                // Get search string
                var searchString = $('#search').val().toLowerCase();

                // Get filters
                var filterQuality1       = $('#filter-quality-1').data('filter');
                var filterQuality2       = $('#filter-quality-2').data('filter');
                var filterQuality3       = $('#filter-quality-3').data('filter');
                var filterQuality4       = $('#filter-quality-4').data('filter');
                var filterQuality5       = $('#filter-quality-5').data('filter');
                var filterDifficulty1    = $('#filter-difficulty-1').data('filter');
                var filterDifficulty2    = $('#filter-difficulty-2').data('filter');
                var filterDifficulty3    = $('#filter-difficulty-3').data('filter');
                var filterDifficulty4    = $('#filter-difficulty-4').data('filter');
                var filterDifficulty5    = $('#filter-difficulty-5').data('filter');
                var isQualityFiltered    = (filterQuality1 || filterQuality2 || filterQuality3 || filterQuality4 || filterQuality5);
                var isDifficultyFiltered = (filterDifficulty1 || filterDifficulty2 || filterDifficulty3 || filterDifficulty4 || filterDifficulty5);

                // Loop trough all rows
                $.each($('#table-body tr'), function(i, el){

                    // Handle searches
                    if(searchString != ""){
                        let content = $(el).text().toLowerCase();
                        if(!content.includes(searchString)){
                            $(el).hide();
                            return;
                        } else {
                            $('#table-body tr').mark(searchString);
                        }
                    }

                    // Handle quality filters
                    if(isQualityFiltered){

                        let qualityRating = $(el).find('[data-workshop-rating-type="quality"]');
                        if(qualityRating.length === 0){
                            $(el).hide();
                            return;
                        }

                        let score = parseInt($(qualityRating).data('workshop-rating-score'));
                        if(score == 1 && filterQuality1 == false){
                            $(el).hide();
                            return;
                        } else if(score == 1 && filterQuality1 == false){
                            $(el).hide();
                            return;
                        } else if(score == 2 && filterQuality2 == false){
                            $(el).hide();
                            return;
                        } else if(score == 3 && filterQuality3 == false){
                            $(el).hide();
                            return;
                        } else if(score == 4 && filterQuality4 == false){
                            $(el).hide();
                            return;
                        } else if(score == 5 && filterQuality5 == false){
                            $(el).hide();
                            return;
                        }
                    }

                    // Handle difficulty filters
                    if(isDifficultyFiltered){

                        let difficultyRating = $(el).find('[data-workshop-rating-type="difficulty"]');
                        if(difficultyRating.length === 0){
                            $(el).hide();
                            return;
                        }

                        let score = parseInt($(difficultyRating).data('workshop-rating-score'));
                        if(score == 1 && filterDifficulty1 == false){
                            $(el).hide();
                            return;
                        } else if(score == 1 && filterDifficulty1 == false){
                            $(el).hide();
                            return;
                        } else if(score == 2 && filterDifficulty2 == false){
                            $(el).hide();
                            return;
                        } else if(score == 3 && filterDifficulty3 == false){
                            $(el).hide();
                            return;
                        } else if(score == 4 && filterDifficulty4 == false){
                            $(el).hide();
                            return;
                        } else if(score == 5 && filterDifficulty5 == false){
                            $(el).hide();
                            return;
                        }
                    }

                    $(el).show();
                });

            }

            // Handle search input
            $('#search').on('keyup', $.debounce(250, function(e){

                // Update the table
                // This handles the search
                updateTableRows();
            }));

            // Handle filter buttons
            $('[data-filter]').on('click', function(e){

                // Toggle button color
                $(this).toggleClass('btn-dark');
                $(this).toggleClass('btn-primary');

                // Toggle filter status
                let isSelected = $(this).data('filter');
                $(this).data('filter', !isSelected);

                // Update the table
                updateTableRows();
            });

        });

    </script>

{% endblock %}
