{% extends "workshop/_workshop_layout.html.twig" %}

{% set page_title = 'Upload a new workshop item - Workshop' %}

{% block workshop_content %}

    <div class="content-box bg-keeper bd-keeper">
        <div class="content-header">
            <h2>Upload a new workshop item</h2>
        </div>

        <div class="content-body">

            <form id="upload-item-form" action="/workshop/upload" method="POST" enctype="multipart/form-data">

                <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
                <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">

                <div class="row" style="margin-bottom: 50px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name">
                                Name
                                <span class="text-danger">
                                    *
                                </span>
                            </label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ get_post_var('name') }}" required>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 50px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="category">
                                Category
                                <span class="text-danger">
                                    *
                                </span>
                            </label>
                            <select class="form-control form-select" id="category" name="category" required>
                                <option value="" disabled selected hidden>Choose the category of this item</option>
                                {% if workshop_globals.categories|length > 0 %}
                                    {% for category in workshop_globals.categories %}
                                        <option value="{{ category.value }}">
                                            {{ category.name|enum_beautify }}
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="min_game_build">
                                Minimum game version
                                <span class="text-muted">
                                    (Optional)
                                </span>
                            </label>
                            <select class="form-control form-select" id="min_game_build" name="min_game_build">
                                <option selected="selected"></option>
                                <option value="-1">Latest KeeperFX alpha patch</option>
                                {% if workshop_globals.stable_builds|length > 0 %}
                                    {% for build in workshop_globals.stable_builds %}
                                        <option value="{{ build.id }}">
                                            {{ build.name }}
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 40px; display:none;" id="map-number-box">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="map_number">
                                Map number
                                <span class="text-danger">
                                    *
                                </span>
                                <span class="text-muted">
                                    (between 202 and 32767)
                                </span>
                            </label>

                            <div id="map-number-loader" class="spinner-border text-muted" role="status"
                                style="height: 16px; width: 16px; font-size: 8px; position: relative; float: right; top: 46px; right: 15px; display: none;"
                            ></div>

                            <input type="text" class="form-control" id="map_number" name="map_number" value="{{ get_post_var('map_number') }}"
                                min="202" max="32767" step="1" pattern="\d+"
                                oninput="this.value= ['','-'].includes(this.value) ? this.value : this.value|0"
                                />
                        </div>
                        <div class="alert bg-dark" style="margin-top: 15px;">
                            Your map should have a unique map number. This is required so there are no conflicts with other maps.
                            This is done because of the old game engine working with numbers and it allows players to track their completion of maps in-game.
                            Make sure that the filenames of your map match an available number and have 5 numbers in total. Example: <code class="text-white">map00001</code>.
                            <br />
                            You can find the list of used mapnumber <a href="/workshop/map_number/list/map" target="_blank">here</a>, but keep in mind that this list changes when people upload new maps.
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 50px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="workshop-file">
                                File
                                <span class="text-danger">
                                    *
                                </span>
                            </label>
                            <input type="file" class="form-control" id="workshop-file" name="file" required>
                        </div>
                        <div class="form-group mt-1">
                            <span class="text-muted" style="font-size: 12px;">Maximum filesize: {{ globals.upload_limit.workshop_item.formatted }}</span>
                        </div>
                    </div>
                </div>

                <!-- TODO: hide on mobile -->
                <div class="row" style="margin-bottom: 50px; display: none;" id="image-uploader">

                    <div class="col-md-12">
                        <span class="label">
                            Images
                        </span>
                        <div class="form-group mt-1">
                            <span class="text-muted" style="font-size: 12px;">Maximum filesize for each separate image: {{ globals.upload_limit.workshop_image.formatted }}</span>
                        </div>
                        <div class="image-widget-container" style="margin-top: 10px;" id="image-widget-container"></div>
                        <input type="hidden" name="image-widget" id="image-widget" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">
                        Description
                        <span class="text-muted">
                            (Optional)
                        </span>
                    </label>
                    <textarea class="form-control mb-1" name="description" rows="6"></textarea>
                    <span class="text-muted mx-2" style="font-size: 12px;">
                        Markdown and spoilers supported.
                        <a href="#" data-markdown-format-info-link="true">
                            More info
                        </a>
                    </span>
                </div>

                <div class="form-group" style="margin-bottom: 50px;">
                    <label for="install_instructions">
                        Installation instructions
                        <span class="text-muted">
                            (Optional)
                        </span>
                    </label>
                    <textarea class="form-control mb-1" name="install_instructions" rows="4"></textarea>
                    <span class="text-muted mx-2" style="font-size: 12px;">
                        Markdown and spoilers supported.
                        <a href="#" data-markdown-format-info-link="true">
                            More info
                        </a>
                    </span>
                </div>

                <div class="row" style="margin-bottom: 25px; display:none;" id="difficulty-rating-box">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="enable_difficulty_rating" id="difficulty-rating">
                                <label class="form-check-label" for="difficulty-rating">
                                    Enable difficulty rating
                                    <span data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Allow people to rate the difficulty of this item.">
                                        <ion-icon name="information-circle-outline" class="text-info" style="position: relative; top: 3px;"></ion-icon>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 25px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="is_not_original_author" id="is_not_original_author">
                                <label class="form-check-label" for="is_not_original_author">
                                    Optional: I am not the original author of this item
                                    <span data-bs-toggle="popover" data-bs-placement="top" data-bs-content="If you are not the original author of this workshop item, you can add their name to give credit.">
                                        <ion-icon name="information-circle-outline" class="text-info" style="position: relative; top: 3px;"></ion-icon>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" style="margin-top: 15px; display:none;" id="original_author_box">
                        <div class="form-group">
                            <label for="original_author">
                                Original Author
                                <span class="text-muted">
                                    (Optional)
                                </span>
                            </label>
                            <input type="text" class="form-control" id="original_author" name="original_author">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 35px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="is_not_creationdate" id="is_not_original_creationdate">
                                <label class="form-check-label" for="is_not_original_creationdate">
                                    Optional: I would like to define a different creation date for this item
                                    <span data-bs-toggle="popover" data-bs-placement="top"
                                        data-bs-content="If you made this content in the past, or it was made by somebody else, you can enable this and define the original creation date.">
                                            <ion-icon name="information-circle-outline" class="text-info" style="position: relative; top: 3px;"></ion-icon>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" style="margin-top: 15px; display:none;" id="original_creationdate_box">
                        <div class="form-group">
                            <label for="original_creation_date">
                                Original Creation Date
                                <span class="text-muted">
                                    (Optional)
                                </span>
                            </label>
                            <input type="date" class="form-control" id="original_creation_date" name="original_creation_date">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-medieval" id="submit">Submit</button>
                </div>

            </form>

        </div>
    </div>

{% include 'markdown.format.html.twig' %}

{% endblock %}

{% block body_javascript %}
    <script>var imageWidgetData = {};</script>
    <script src="{{ asset('js/workshop.js') }}"></script>
    <script src="{{ asset('js/image-widget.js') }}"></script>
{% endblock %}
