{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Crash Reports - DevCP' %}

{% block page %}
{% include 'core/_breadcrumb.html.twig' with {
    items: [
        { label: 'Control Panel', url: '/account' },
        { label: 'Crash Reports', url: '/dev/crash-report/list' },
    ],
    add_back_button: false
} %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Crash Reports ({{ crash_reports|length }})</h2>
    </div>
    <div class="content-body">

        <input class="form-control form-form-control-sm" id="search" placeholder="Search" style="margin-bottom: 15px;" />

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Version</th>
                    <th>Exception Origin</th>
                    <th>Timestamp</th>
                    <th>Savefile</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for crash_report in crash_reports %}

                        {# Check if this release is either the latest alpha or stable #}
                        {% set is_latest = false %}
                        {% if crash_report.gameVersion is not empty and latest_alpha is not empty %}
                            {% if crash_report.gameVersion == (latest_alpha.version ~ ' Alpha') %}
                                {% set is_latest = true %}
                            {% endif %}
                        {% endif %}
                        {% if crash_report.gameVersion is not empty and latest_stable is not empty %}
                            {% if crash_report.gameVersion == latest_stable.version %}
                                {% set is_latest = true %}
                            {% endif %}
                        {% endif %}

                        <tr{% if is_latest %} style="background-color: rgba(45, 45, 45, 0.25);"{% endif %}>
                            <td data-table-search>{{ crash_report.id }}</td>
                            <td data-table-search>
                                {% if is_latest %}<strong>{% endif %}
                                {{ crash_report.gameVersion|unique_color }}
                                {% if is_latest %}</strong>{% endif %}
                            </td>
                            <td data-table-search style="max-width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                {% if crash_report.exceptionSourceFunction is not null %}
                                    {{ crash_report.exceptionSourceFunction }}
                                {% else %}
                                    <span class="text-muted">-</span>
                                {% endif %}
                            </td>
                            <td data-table-search>{{ crash_report.createdTimestamp|date('Y-m-d G:i') }}</td>
                            <td>
                                {% if crash_report.saveFilename is not null %}
                                    <ion-icon name="save-outline"></ion-icon>
                                {% else %}
                                    <ion-icon name="save-outline" style="filter:brightness(0.45);" class="text-muted"></ion-icon>
                                {% endif %}
                            </td>
                            <td>
                                <a href="/dev/crash-report/{{ crash_report.id }}">View</a>
                                -
                                <a href="/dev/crash-report/{{ crash_report.id }}/delete">Delete</a>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}



{% block body_javascript %}

<script>

    // Handle search
    var $searchTable = $('#search').parent().find('table');
    var searchRows   = $searchTable.find('tbody tr');
    $('#search').on('keyup', $.debounce(250, function(e){

        // Get search string
        var string = $(this).val().toLowerCase();

        // Handle clearing of search
        if(string == ""){
            $(searchRows).show();
            $(searchRows).unmark();
            return;
        }

        // Loop trough all rows
        $.each(searchRows, function(i, el){

            // Show or hide the row
            let content = $(el).find('[data-table-search]').text().toLowerCase();
            if(!content.includes(string)){
                $(el).hide();
            } else {
                $(el).show();
            }


        });

        // Mark the keyword
        $(searchRows).unmark();
        $(searchRows).find('[data-table-search]').mark(string);
    }));
</script>

{% endblock %}
