{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Workshop - ModCP' %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Crash report #{{ crash_report.id }}</h2>
        <span>
            <a href="/dev/crash-report/{{ crash_report.id }}/delete">
                Delete
            </a>
            -
            <a href="/dev/crash-report/list" style="right: 0;">
                Back
            </a>
        </span>
    </div>
    <div class="content-body">

        <h5 style="border-bottom: 0;">Info</h5>
        <table class="table">
            <tr>
                <td>ID</td>
                <td>{{ crash_report.id }}</td>
            </tr>
            <tr>
                <td>Game Version</td>
                <td>{{ crash_report.gameVersion|unique_color }}</td>
            </tr>
            <tr>
                <td>Timestamp</td>
                <td>{{ crash_report.createdTimestamp|date('Y-m-d G:i:s') }}</td>
            </tr>
            <tr>
                <td>Source</td>
                <td>{{ crash_report.source }}</td>
            </tr>
            <tr>
                <td>Savefile</td>
                <td>
                    {% if crash_report.saveFilename %}
                        <a href="/dev/crash-report/download/{{ crash_report.saveFilename }}" download>{{ crash_report.saveFilename }}</a>
                    {% else %}
                        <span class="text-muted">N/A</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Contact Details</td>
                <td>
                    {% if crash_report.contactDetails %}
                        {{ crash_report.contactDetails }}
                    {% else %}
                        <span class="text-muted">N/A</span>
                    {% endif %}
                </td>
            </tr>
        </table>

        {% if crash_report.description %}
            <h5 style="margin-top: 30px; border-bottom: 0;">Description</h5>
            <pre style="color: #ccc; background-color: #0D0D0D; border: 2px solid black; padding: 10px; margin: 0;">{{ crash_report.description }}</pre>
        {% endif %}

        {% if error.info is not empty or error.trace is not empty %}
            <h5 style="margin-top: 30px; border-bottom: 0;">Error</h5>
            <pre style="color: #ccc; background-color: #0D0D0D; border: 2px solid black; padding: 10px; margin: 0; font-size: 12px;">{% if error.info is not empty %}{{ error.info.identifier }} ({{ error.info.exception_code }})
{{ error.info.error_message }}

{% endif %}{% if error.trace is not empty %}{% for num, text in error.trace %}[#{{ num }}] {{ text }}
{% endfor %}{% endif %}</pre>
        {% endif %}

        <h5 style="margin-top: 30px; border-bottom: 0;">Technical Data</h5>

        <div class="accordion" style="margin-top: 10px;">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLogFile">
                        Log
                    </button>
                </h2>
                <div id="collapseLogFile" class="accordion-collapse collapse">
                    <pre>{{ crash_report.gameLog }}</pre>
                </div>
            </div>
        </div>

        {% if crash_report.gameConfig %}
            <div class="accordion" style="margin-top: 10px;">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConfigFile">
                            Config
                        </button>
                    </h2>
                    <div id="collapseConfigFile" class="accordion-collapse collapse">
                        <pre>{{ crash_report.gameConfig }}</pre>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if crash_report.gameOutput %}
            <div class="accordion" style="margin-top: 10px;">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOutput">
                            Game Console Output
                        </button>
                    </h2>
                    <div id="collapseOutput" class="accordion-collapse collapse">
                        <pre>{{ crash_report.gameOutput }}</pre>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</div>

{% endblock %}
