{% extends "core/_layout.html.twig" %}

{% set page_title = 'Password Reset' %}

{% block content %}

<div class="" style="align-items: center; width: 100%">

    <div class="bg-keeper bd-keeper login-box">

        <h2 class="login-title">Password reset</h2>

        {{ render_flash_messages() }}

        <form method="POST">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />

            <div class="row g-3">

                <div class="form-group">
                    <label class="form-check-label" for="password">
                        New password
                    </label>
                    <input type="password" class="form-control" id="password" name="password" autofocus>
                </div>

                <div class="form-group">
                    <label class="form-check-label" for="repeat_password">
                        Repeat new password
                    </label>
                    <input type="password" class="form-control" id="repeat_password" name="repeat_password" autofocus>
                </div>

                <div class="form-group" style="margin-top: 45px;">
                    <button type="submit" class="btn btn-lg btn-medieval" style="width: 100%;">Change Password</button>
                </div>

            </div>

        </form>

    </div>
</div>

{% endblock %}
