{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Edit news article: ' ~ article.title ~ ' - AdminCP' %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Edit news article: {{ article.title }}</h2>
    </div>
    <div class="content-body">

        <h5 style="border-bottom: 0;">Info</h5>
        <table class="table mb-5">
            <tr>
                <td>Author</td>
                <td>{{ article.author.username }}</td>
            </tr>
            <tr>
                <td>URL title slug</td>
                <td>{{ article.titleSlug }}</td>
            </tr>
        </table>

        <form action="/admin/news/{{ article.id }}" method="POST" enctype="multipart/form-data">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">

            <div class="form-group">
                <label for="title">
                    Title
                </label>
                <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}" />
            </div>

            <div class="form-group">
                <label for="title">
                    Image
                </label>
                <div class="d-flex">
                    <div>
                        {% if article.image %}
                            <img src="/news/image/{{ article.image }}" class="bd-keeper" style="max-height: 256px;" />
                        {% else %}
                            <img src="/img/no-image-256.png" />
                        {% endif %}
                    </div>
                    <div style="margin-left: 30px;">
                            <div class="form-group">
                                <label for="image">
                                    New image
                                </label>
                                <input type="file" class="form-control" id="image" name="image">
                            </div>

                            <div class="form-group mt-1 mb-3">
                                <span class="text-muted" style="font-size: 12px;">Maximum filesize: {{ globals.upload_limit.news_image.formatted }}</span>
                            </div>

                        {% if article.image %}
                            <a href="/admin/news/{{ article.id }}/delete-image/{{ csrf.name }}/{{ csrf.value|url_encode }}">Remove current image</a>
                        {% endif %}

                    </div>

                </div>
            </div>

            {# {% if article.image is not null %}
                <div class="form-group">
                    <label for="title">
                        Image
                    </label>
                    <img src="/news/image/{{ article.image }}" class="bd-keeper" style="margin: 28px 30px 20px 35px; max-height: 256px;" />
                </div>
            {% endif %}

            <div class="form-group">
                <label for="title">
                    Update Image
                    <span class="text-muted">
                        (Leave blank to not change)
                    </span>
                </label>
                <input type="file" class="form-control" id="image" name="image" {% if get_env('APP_NEWS_IMAGE_STORAGE') is empty %}disabled=disabled{% endif %} />
                <div class="form-group mt-1">
                    <span class="text-muted" style="font-size: 12px;">Maximum filesize: {{ globals.upload_limit.news_image.formatted }}</span>
                </div>
            </div> #}

            <div class="form-group" style="margin-top: 30px;">
                <label for="contents">
                    Content
                    <span class="text-muted">
                        (Optional)
                    </span>
                </label>
                <textarea class="form-control" name="contents" id="contents" rows="10">{{ article.contents }}</textarea>
            </div>

            <span class="text-muted mx-2" style="font-size: 12px;">
                Markdown and spoilers supported.
                <a href="#" data-markdown-format-info-link="true">
                    More info
                </a>
            </span>

            <div class="form-group mt-4">
                <label for="excerpt">
                    Excerpt (Short Text to show on home page with a "Read more" link) -
                    <a href="https://chat.openai.com/" target="_blank">ChatGPT</a>
                </label>
                <textarea class="form-control" name="excerpt" id="excerpt" rows="3">{{ article.excerpt }}</textarea>
            </div>

            <span class="text-muted mx-2" style="font-size: 12px;">
                Markdown and spoilers supported.
                <a href="#" data-markdown-format-info-link="true">
                    More info
                </a>
            </span>

            <div class="d-flex" style="margin-top: 15px;">
                <a href="/admin/news/{{ article.id }}/delete/{{ csrf.name }}/{{ csrf.value|url_encode }}" class="btn btn-medieval btn-medieval-gray">Remove</a>
                <div class="pull-right">
                    <input type="submit" class="btn btn-medieval" value="Edit" />
                </div>
            </div>

        </form>

    </div>
</div>

{% include 'markdown.format.html.twig' %}

{% endblock %}
