{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'News articles - AdminCP' %}

{% block page %}

{% include 'core/_breadcrumb.html.twig' with {
    items: [
        { label: 'Control Panel', url: '/account' },
        { label: 'News', url: '/admin/news/list' },
    ],
    add_back_button: false
} %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>News ({{ articles|length }})</h2>
        <a href="/admin/news/add" style="right: 0;">
            <button class="btn btn-medieval">Create new article</button>
        </a>
    </div>
    <div class="content-body">

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Image</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                        <tr>
                            <td><a href="/news/{{ article.id }}/{{ article.titleSlug }}">{{ article.title }}</a></td>
                            <td>{{ article.author.username }}</td>
                            <td>
                                {% if article.image is not null %}
                                    <ion-icon name="image-outline"></ion-icon>
                                {% else %}
                                    <ion-icon name="image-outline" style="filter:brightness(0.45);" class="text-muted"></ion-icon>
                                {% endif %}
                            </td>
                            <td>{{ article.createdTimestamp|date('Y-m-d') }}</td>
                            <td>
                                <a href="/admin/news/{{ article.id }}">Edit</a>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
