{% extends "core/_control-panel.html.twig" %}

{% block title %}Edit news article: {{ article.title }} - Admin{% endblock %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Edit news article: {{ article.title }}</h2>
    </div>
    <div class="content-body">

        <form action="/admin/news/{{ article.id }}" method="POST">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">

            <input type="text" class="form-control" placeholder="Title" name="title" value="{{ article.title }}" />

            <p style="margin-top: 10px;">
                URL title slug: {{ article.titleSlug }}<br />
                Author: {{ article.author.username }}
            </p>

            <textarea class="form-control" name="contents" rows="12" placeholder="Content" style="margin-top: 15px;">{{ article.text }}</textarea>

            <span class="text-muted">
                News articles use the markdown format.
            </span>

            <div class="d-flex" style="margin-top: 15px;">

            <a href="/admin/news/{{ article.id }}/delete/{{ csrf.name }}/{{ csrf.value|url_encode }}" class="btn btn-medieval btn-medieval-gray">Remove</a>

            <div class="pull-right">
                <input type="submit" class="btn btn-medieval" value="Edit" />
            </div>

            </div>

        </form>

    </div>
</div>

{% endblock %}
