<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Page title #}
        <title>{% include 'core/_page_title.html.twig' %}</title>

        {# Meta Tags #}
        {% include 'core/_meta_tags.html.twig' %}

        {# Favicon + Shortcut logo #}
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="shortcut" sizes="256x256" type="image/png" href="/img/horny-face-256.png" />
        <link rel="apple-touch-icon" sizes="256x256" href="/img/horny-face-256.png" />

        {# Theme color (for shortcuts backgrounds) #}
        <meta name="theme-color" content="#131313" />

        {# Preload assets #}
        {# - Assets in CSS files require the CSS file to be fully parsed. #}
        <link rel="preload" as="font" href="/font/cinzel/static/Cinzel-Medium.ttf" type="font/ttf" crossorigin="anonymous" />
        <link rel="preload" as="font" href="/font/nunito/static/Nunito-Regular.ttf" type="font/ttf" crossorigin="anonymous" />
        <link rel="preload" as="image" href="/img/bg.png" />
        <link rel="preload" as="image" href="/img/bg-button-red.png" />
        <link rel="preload" as="image" href="/img/bg-button.png" />
        <link rel="preload" as="image" href="/img/bg-gray.png" />
        <link rel="preload" as="image" href="/img/bg-black.png" />

        {# Debug Bar #}
        {% if get_env('APP_ENV') == 'dev' %}
            {{ debug_bar_render_head() }}
        {% endif %}

        {# Bootstrap core CSS #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-utilities.min.css" integrity="sha512-4ocAKAxnrkSm7MvkkF1D435kko3/HWWvoi/U9+7+ln94B/U01Mggca05Pm3W59BIv3abl0U3MPdygAPLo5aeqg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Toastr CSS #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Photoswipe CSS #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/photoswipe.min.css" integrity="sha512-LFWtdAXHQuwUGH9cImO9blA3a3GfQNkpF2uRlhaOpSbDevNyK1rmAjs13mtpjvWyi+flP7zYWboqY+8Mkd42xA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# EmojiButtonList CSS #}
        <link rel="stylesheet" href="{{ asset('/lib/EmojiButtonList.js/src/emojibuttonlistjs.min.css') }}" />

        {# GitHub's Markdown CSS #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.1/github-markdown-dark.min.css" integrity="sha512-OtEVQKlou4M/GacGwvUl27uo+XNyHfUlMP/furdKClgpkU++3SepORomgRC1uV7qjJ5fnV8ENVt2qXkR8enD1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Button Loader Spinner #}
        <link rel="stylesheet" href="{{ asset('/css/button-loader.css') }}" />

        {# CSS #}
        <link rel="stylesheet" href="{{ asset('/css/theme.css') }}" />

        {# Other User themes #}
        {% if account is not null and account.theme.id != 'default' %}
            <link rel="stylesheet" href="{{ asset('/css/' ~ account.theme.stylesheet) }}" />
        {% endif %}

        {# Page specific stylesheets #}
        {% block stylesheets %}{% endblock %}

        {# App store - used for passing application variables to javascript #}
        <script>
            var app_store = {
                account: {{ account|json_encode()|raw }},
                csrf: {{ csrf|json_encode()|raw }},
                upload_limit: {{ globals.upload_limit|json_encode()|raw }},
                workshop: {
                    categories: {{ workshop_globals.categories_map|json_encode()|raw }},
                    categories_without_difficulty: {{ workshop_globals.categories_without_difficulty|json_encode()|raw }}
                },
                polling: {% if get_env('APP_POLLING_NOTIFICATIONS') == '1' %}true{% else %}false{% endif %},
                cf_slow_endpoint_check: {% if get_env('APP_CLOUDFLARE_NOTIFY_ON_SLOW_ENDPOINT') == '1' %}true{% else %}false{% endif %},
                send_email: {{ get_email_id_to_send() }}
            };
        </script>

        {# Bootstrap javascript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# jQuery javascript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js" integrity="sha512-MSOo1aY+3pXCOCdGAYoBZ6YGI0aragoQsg1mKKBHXCYPIWxamwOE7Drh+N5CPgGI5SA9IEKJiPjdfqWFWmZtRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# Toastr javascript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# Button Loader Spinner #}
        <script src="{{ asset('js/buttonLoader.jquery.js') }}" data-no-instant></script>

        {# Custom background for events, holidays, etc #}
        {% if get_env('APP_THEME_BACKGROUND') is not empty %}
            <style>
                body {
                background: url("{{ get_env('APP_THEME_BACKGROUND') }}") !important;
                }
            </style>
        {% endif %}

        <link rel="stylesheet" href="{{ asset('/css/snow.css') }}" />

    </head>

    <body style="background-color: #222;" data-no-instant>

        {% block body %}{% endblock %}

        {# Ion Icons javascript #}
        <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/7.4.0/ionicons/ionicons.esm.min.js" async integrity="sha512-Ki1ycShfg/35YZ5V7IxPNlIYvUomn0+wv6DFTQCLHOxPvAbvWvRFmUoypEqP1U8htijTq5JLhluGhPKozOoQbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/7.4.0/ionicons/ionicons.min.js" async integrity="sha512-/g0P0nT+pVGb4G5Vw6/0kAwsdoVmcAXI++LmzlazMQpKqaEnqE2hb7/LkkEt+IkPaQl9X5tDIvLYyvMC2sFQrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# jQuery timeago #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js" integrity="sha512-RlGrSmkje9EE/FXpJKWf0fvOlg4UULy/blvNsviBX9LFwMj/uewXVoanRbxTIRDXy/0A3fBQppTmJ/qOboJzmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# Load main APP javascript #}
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/notifications.js') }}" data-no-instant></script>

        {# Javascript #}
        {% block body_javascript %}{% endblock %}

        {# Disable form resubmission by pressing F5 (little hack) #}
        <script>if(window.history.replaceState){ window.history.replaceState(null, null, window.location.href); }</script>

        {# InstantClick JS #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/instantclick/3.1.0/instantclick.min.js" integrity="sha512-K0LA7hRSqNt0GOikeLRmpKEecaOy7uizFEA/b3SMMyGycCy1qRLoezkVbuXQUFVq6pwEjCszMCn3TT4dRRie+g==" crossorigin="anonymous" referrerpolicy="no-referrer" data-no-instant></script>
        <script data-no-instant>
            InstantClick.init(50);
            {# Make page scroll below top banner during navigation for easier website navigation #}
            {# Note: change event should go AFTER init so initial page load does not trigger it yet #}
            InstantClick.on('change', function(isInitialLoad){
                if(isInitialLoad){
                    return false;
                }
                requestAnimationFrame(function() {
                    requestAnimationFrame(function(){
                        $('html, body').animate({
                            scrollTop: $('#nav-top').offset().top - 15
                        }, 100); // duration
                    });
                });
            });
        </script>

        {# TwigJS #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twig.js/1.17.1/twig.min.js" integrity="sha512-5x+00SW0j963Y8dAzoxCe3bASSzb1O7FmPqbOssRkpHTxFfs5bTnWxMPQwep2mBtQSU9Q12gaTROevcpmhmN7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# Photoswipe JS #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/umd/photoswipe.umd.min.js" integrity="sha512-BXwwGU7zCXVgpT2jpXnTbioT9q1Byf7NEXVxovTZPlNvelL2I/4LjOaoiB2a19L+g5za8RbkoJFH4fMPQcjFFw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/umd/photoswipe-lightbox.umd.min.js" integrity="sha512-D16CBrIrVF48W0Ou0ca3D65JFo/HaEAjTugBXeWS/JH+1KNu54ZOtHPccxJ7PQ44rTItUT6DSI6xNL+U34SuuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# Debug Bar #}
        {% if get_env('APP_ENV') == 'dev' %}
            {{ debug_bar_render_body() }}
        {% endif %}

    </body>

</html>
