<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Page title #}
        <title>{% include 'core/_page_title.html.twig' %}</title>

        {# Meta Tags #}
        {% include 'core/_meta_tags.html.twig' %}

        {# Favicon + Shortcut logo #}
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="shortcut" sizes="256x256" type="image/png" href="/img/horny-face-256.png" />
        <link rel="apple-touch-icon" sizes="256x256" href="/img/horny-face-256.png" />

        {# Theme color (for shortcuts backgrounds) #}
        <meta name="theme-color" content="#131313" />

        {# Preload assets #}
        {# - Assets in CSS files require the CSS file to be fully parsed. #}
        <link rel="preload" as="font" href="/font/cinzel/static/Cinzel-Medium.ttf" crossorigin="anonymous" />
        <link rel="preload" as="font" href="/font/nunito/Nunito-VariableFont_wght.ttf" crossorigin="anonymous" />
        <link rel="preload" as="image" href="/img/bg.png" />
        <link rel="preload" as="image" href="/img/bg-button-red.png" />
        <link rel="preload" as="image" href="/img/bg-button.png" />
        <link rel="preload" as="image" href="/img/bg-gray.png" />
        <link rel="preload" as="image" href="/img/bg-black.png" />

        {# Bootstrap core CSS #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Toastr CSS #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css" integrity="sha512-oe8OpYjBaDWPt2VmSFR+qYOdnTjeV9QPLJUeqZyprDEQvQLJ9C5PCFclxwNuvb/GQgQngdCXzKSFltuHD3eCxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Photoswipe CSS #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/photoswipe.min.css" integrity="sha512-LFWtdAXHQuwUGH9cImO9blA3a3GfQNkpF2uRlhaOpSbDevNyK1rmAjs13mtpjvWyi+flP7zYWboqY+8Mkd42xA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# EmojiButtonList CSS #}
        <link rel="stylesheet" href="{{ asset('/lib/EmojiButtonList.js/src/emojibuttonlistjs.min.css') }}" />

        {# GitHub's Markdown CSS #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.1/github-markdown-dark.min.css" integrity="sha512-MmL2FuLmm/UH05Ah4JiJwA+G7OCceZDpzGHWqsju4Espzq+9nwQJdQVMNZPd1FNK2H3qDYXdET7HNG7Qm93FEg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Button Loader Spinner #}
        <link rel="stylesheet" href="{{ asset('/css/button-loader.css') }}" />

        {# CSS #}
        <link rel="stylesheet" href="{{ asset('/css/theme.css') }}" />

        {# Page specific stylesheets #}
        {% block stylesheets %}{% endblock %}

        {# App store - used for passing application variables to javascript #}
        <script>
            const app_store = {
                account: {{ account|json_encode()|raw }},
                csrf: {{ csrf|json_encode()|raw }},
                upload_limit: {{ globals.upload_limit|json_encode()|raw }},
                workshop: {
                    categories: {{ workshop_globals.categories_map|json_encode()|raw }},
                    categories_without_difficulty: {{ workshop_globals.categories_without_difficulty|json_encode()|raw }}
                }
            };
        </script>

        {# Sentry #}
        {# {% if get_env('APP_SENTRY_DSN') %}
            <script src="/lib/sentry-browser/bundle.min.js"></script>
            <script type="module">
                Sentry.init({
                    dsn: "{{ get_env('APP_SENTRY_DSN') }}",
                    environment: "{{ get_env('APP_ENV') }}",
                });
            </script>
        {% endif %} #}

        {# Bootstrap javascript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# jQuery javascript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# Toastr javascript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# Button Loader Spinner #}
        <script src="{{ asset('js/buttonLoader.jquery.js') }}" data-no-instant></script>

        {# Custom background for events, holidays, etc #}
        {% if get_env('APP_THEME_BACKGROUND') is not empty %}
            <style>
                body {
                background: url("{{ get_env('APP_THEME_BACKGROUND') }}") !important;
                }
            </style>
        {% endif %}

    </head>

    <body style="background-color: #222;" data-no-instant>

        {% block body %}{% endblock %}

        {# Ion Icons javascript #}
        <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/7.1.2/ionicons/ionicons.esm.min.js" async integrity="sha512-b9FlP47g8t0cHw1oV3Wy0jlpYw0EpsdAqm2Z3TyvvoX2QQLTE2tPNAbSbOGaRXyweU95fuobLaAxxzxkk/pF7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/7.1.2/ionicons/ionicons.min.js" async integrity="sha512-xwW458OKlKFjXUMx1qTOgpVUXBVtuq30eTmZAUGxY+pziFJB4py3Dnv4e54rjaaIOb2t83/DpgDWlQFlfR/xRw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# jQuery timeago #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js" integrity="sha512-RlGrSmkje9EE/FXpJKWf0fvOlg4UULy/blvNsviBX9LFwMj/uewXVoanRbxTIRDXy/0A3fBQppTmJ/qOboJzmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# Load main APP javascript #}
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/notifications.js') }}" data-no-instant></script>

        {# Javascript #}
        {% block body_javascript %}{% endblock %}

        {# Disable form resubmission by pressing F5 (little hack) #}
        <script>if(window.history.replaceState){ window.history.replaceState(null, null, window.location.href); }</script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/instantclick/3.1.0/instantclick.min.js" integrity="sha512-K0LA7hRSqNt0GOikeLRmpKEecaOy7uizFEA/b3SMMyGycCy1qRLoezkVbuXQUFVq6pwEjCszMCn3TT4dRRie+g==" crossorigin="anonymous" referrerpolicy="no-referrer" data-no-instant></script>
        <script data-no-instant>InstantClick.init(50);</script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/umd/photoswipe.umd.min.js" integrity="sha512-xH3c1Jh7FbAehFlrbmiFLL7fm2YxZRXtRJ0O9Kc+RkCW5VLkLeARPe8RwgCfzYt4N1JRqzxZtBMgsJzLehA4Tw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/umd/photoswipe-lightbox.umd.min.js" integrity="sha512-OB04yghyy2BT/S1t5HihjY4Jw9Us/5Fw1p5Jw41DIx71Kx+G4SjiPpd3n2ecsYAp7gJL0saH0J6k5elzVHp2+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </body>

</html>
