{% extends "core/_base.html.twig" %}

{% block body %}

    <div class="container-lg">

        <div class="content-box bd-keeper" style="margin-top: 30px;">

            {# 'dev' environment notice #}
            {% if get_env('APP_ENV') == 'dev' %}
                <div style="position: absolute; float: left;">
                    <h1 style="font-family: monospace;">[dev]</h1>
                </div>
            {% endif %}

            <img src="/img/top-banner.png" width="100%" />
        </div>

        {# 'dev' environment banner #}
        {% if get_env('APP_ENV') == 'dev' %}
        <div class="content-box bd-keeper hazard-background d-flex justify-content-end" style="margin-top: 30px;">
            <a href="#" class="btn btn-sm btn-medieval btn-medieval-gray" onclick="this.parentNode.remove();">
                <ion-icon name="close-outline" style="font-size: 16px; padding-top: 1px;"></ion-icon>
            </a>
        </div>
        {% endif %}

        <nav class="navbar justify-content-between content-box bg-keeper bd-keeper header" id="nav-top">
            <div>

                <a href="/" class="{% if path_equals('/') %}active{% endif %}">Home</a>
                <span class="header-separator">|</span>
                <a href="/downloads" class="{% if path_equals('/downloads') or path_equals('/downloads/*') %}active{% endif %}">Downloads</a>
                <span class="header-separator">|</span>
                <a href="/workshop/browse" class="{% if path_equals('/workshop/*') %}active{% endif %}">Workshop</a>
                <span class="header-separator">|</span>
                <a href="/wiki" class="{% if path_equals('/wiki') or path_equals('/wiki/*') %}active{% endif %}">Wiki</a>
                <span class="header-separator">|</span>
                <a href="/screenshots" class="{% if path_equals('/screenshots') %}active{% endif %}">Screenshots</a>
                <span class="header-separator">|</span>
                <a href="/history" class="{% if path_equals('/history') %}active{% endif %}">History</a>
                <span class="header-separator">|</span>
                <a href="https://keeperklan.com/forums/52-KeeperFX" target="_blank" class="outgoing-hover-icon">
                    Forums
                    <ion-icon name="open-outline" class="outgoing" style="position:relative; top: -5px; left: -1px;"></ion-icon>
                </a>

            </div>

            <div>

                {% if account %}

                    <div class="dropdown">
                        <a class="dropdown-toggle" href="/account" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {# <a class="dropdown-toggle" href="/dashboard" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> #}

                            {% if account.avatar %}
                                <img src="/avatar/{{ account.avatar }}" class="user-avatar" onerror="this.src='{{ avatar(account.username, 'circle', 128) }}';" />
                            {% else %}
                                <img src="{{ avatar(account.username, 'circle', 128) }}" class="user-avatar" />
                            {% endif %}

                            {{ account.username }}
                        </a>

                        <ul class="dropdown-menu dropdown-menu-dark bg-keeper bd-keeper" aria-labelledby="navbarDropdown">

                            {# <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li> #}
                            <li><a class="dropdown-item" href="/account">Account Settings</a></li>
                            <li><a class="dropdown-item" href="/account/connections">Connections</a></li>

                            <li><hr class="dropdown-divider"></li>

                            {% if account.role >= roles.moderator %}

                                <li><a class="dropdown-item" href="/moderate/workshop/list">Manage Workshop</a></li>

                                {% if account.role >= roles.developer %}
                                    <li><a class="dropdown-item" href="/dev/alpha-patches/list">Manage Alpha Patches</a></li>
                                    <li><a class="dropdown-item" href="/dev/crash-report/list">Crash Reports</a></li>
                                {% endif %}

                                {% if account.role >= roles.admin %}
                                    <li><a class="dropdown-item" href="/admin/news/list">Manage News</a></li>
                                    <li><a class="dropdown-item" href="/admin/user/list">Manage Users</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/admin/server-info">Server Info</a></li>
                                {% endif %}

                                <li><hr class="dropdown-divider"></li>

                            {% endif %}

                            <li><a class="dropdown-item" href="/logout/{{ csrf.name }}/{{ csrf.value|url_encode }}">Logout</a></li>

                        </ul>

                    </div>
                {% else %}
                    <a href="/login">
                        Login
                    </a>
                    <span class="header-separator">|</span>
                    <a href="/register">
                        Register
                    </a>
                {% endif %}

            </div>

        </nav>

        {% block content %}{% endblock %}

        <footer>
            KeeperFX - Open Source Dungeon Keeper Remake & Fan Expansion
            <br />
            No affiliation with Bullfrog or E.A.
            <br />
            <a href="/rss-info">RSS</a>
            -
            <a href="/terms-of-service">Terms of Service</a>
            -
            <a href="/privacy-policy">Privacy Policy</a>
            -
            <a href="{{ get_env('APP_GITHUB_REPO_URL') }}" target="_blank">Website Source <ion-icon name="open-outline" class="outgoing" style="font-size: 12px; position: relative; top: 1px; left: 1px;"></ion-icon></a>
        </footer>

    </div>

{% endblock %}
