{% extends "core/_base.html.twig" %}

{% block body %}

    <div class="container-lg">

        <div class="content-box bd-keeper" style="margin-top: 30px;">

            {# 'dev' environment notice #}
            {% if get_env('APP_ENV') == 'dev' %}
                <div style="position: absolute; float: left;">
                    <h1 style="font-family: monospace;">[dev]</h1>
                </div>
            {% endif %}

            <img
                {% if get_env('APP_THEME_LOGO') is not empty %}
                    src="{{ get_env('APP_THEME_LOGO') }}"
                {% else %}
                    src="/img/banner/top-banner.png"
                {% endif %}
            width="100%" />
        </div>

        {# 'dev' environment banner #}
        {% if get_env('APP_ENV') == 'dev' %}
        <div class="content-box bd-keeper hazard-background d-flex justify-content-end" style="margin-top: 30px;">
            <a href="#" class="btn btn-sm btn-medieval btn-medieval-gray" onclick="this.parentNode.remove();">
                <ion-icon name="close-outline" style="font-size: 16px; padding-top: 1px;"></ion-icon>
            </a>
        </div>
        {% endif %}

        <nav class="navbar justify-content-between content-box bg-keeper bd-keeper header" id="nav-top">
            <div>

                <a href="/" class="{% if path_equals('/') %}active{% endif %}" data-instant>Home</a>
                <span class="header-separator">|</span>
                <a href="/downloads" class="{% if path_equals('/downloads') or path_equals('/downloads/*') %}active{% endif %}" data-instant>Downloads</a>
                <span class="header-separator">|</span>
                <a href="/workshop/browse" class="{% if path_equals('/workshop/*') %}active{% endif %}" data-instant>Workshop</a>
                <span class="header-separator">|</span>
                <a href="/wiki" class="{% if path_equals('/wiki') or path_equals('/wiki/*') %}active{% endif %}" data-instant>Wiki</a>
                <span class="header-separator">|</span>
                <a href="/screenshots" class="{% if path_equals('/screenshots') %}active{% endif %}" data-instant>Screenshots</a>
                <span class="header-separator">|</span>
                <a href="/history" class="{% if path_equals('/history') %}active{% endif %}" data-instant>History</a>
                <span class="header-separator">|</span>
                <a href="https://keeperklan.com/forums/52-KeeperFX" target="_blank" class="outgoing-hover-icon">
                    Forums
                    <ion-icon name="open-outline" class="outgoing" style="display: none; position:relative; top: -5px; left: -1px;"></ion-icon>
                </a>

            </div>

            <div>

                {% if account %}

                    {# Moderation Icon - Moderator/Developer/Admin #}
                    {% if account.role >= roles.moderator %}
                        <div class="dropdown" style="display: inline-block;">
                            <a class="dropdown-toggle caret-off" href="/account" id="navbarAdminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 0;">

                                {# Inline SVG icon that loads instantly #}
                                <span class="ion-icon-raw-top-nav-bar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M393.87,190a32.1,32.1,0,0,1-45.25,0l-26.57-26.57a32.09,32.09,0,0,1,0-45.26L382.19,58a1,1,0,0,0-.3-1.64c-38.82-16.64-89.15-8.16-121.11,23.57-30.58,30.35-32.32,76-21.12,115.84a31.93,31.93,0,0,1-9.06,32.08L64,380a48.17,48.17,0,1,0,68,68L285.86,281a31.93,31.93,0,0,1,31.6-9.13C357,282.46,402,280.47,432.18,250.68c32.49-32,39.5-88.56,23.75-120.93a1,1,0,0,0-1.6-.26Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><circle cx="96" cy="416" r="16"/></svg>
                                </span>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-dark bg-keeper bd-keeper dropdown-keeper" aria-labelledby="navbarAdminDropdown">

                                    <li><a class="dropdown-item" href="/moderate/workshop/list">Workshop</a></li>
                                    <li><a class="dropdown-item" href="/moderate/workshop-comments/list">Latest Comments</a></li>

                                    {% if account.role >= roles.developer %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="/dev/alpha-patches/list">Alpha Patches</a></li>
                                        <li><a class="dropdown-item" href="/dev/prototypes/list">Prototypes</a></li>
                                        <li><a class="dropdown-item" href="/dev/launcher/list">Launcher Releases</a></li>
                                        <li><a class="dropdown-item" href="/dev/bundled-assets">Bundled Assets</a></li>
                                        <li><a class="dropdown-item" href="/dev/game-files/list">Game File Indexes</a></li>
                                        <li><a class="dropdown-item" href="/dev/crash-report/list">Crash Reports</a></li>
                                    {% endif %}

                                    {% if account.role >= roles.admin %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="/admin/releases/list">Releases</a></li>
                                        <li><a class="dropdown-item" href="/admin/news/list">News</a></li>
                                        <li><a class="dropdown-item" href="/admin/user/list">Users</a></li>
                                        <li><a class="dropdown-item" href="/admin/ip-lookup/logs">IP Logs</a></li>
                                        <li><a class="dropdown-item" href="/admin/ban/list">Bans</a></li>
                                        <li><a class="dropdown-item" href="/admin/uploads">Uploads</a></li>
                                        <li><a class="dropdown-item" href="/admin/server-info">Server Info</a></li>
                                    {% endif %}

                            </ul>
                        </div>
                    {% endif %}

                    {# Notification icon #}
                    <div class="dropdown" style="display: inline-block;">
                        <a class="dropdown-toggle caret-off" href="/account" id="navbarNotificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                            {# Inline SVG icon that loads instantly #}
                            <span class="ion-icon-raw-top-nav-bar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path d="M427.68,351.43C402,320,383.87,304,383.87,217.35,383.87,138,343.35,109.73,310,96c-4.43-1.82-8.6-6-9.95-10.55C294.2,65.54,277.8,48,256,48S217.79,65.55,212,85.47c-1.35,4.6-5.52,8.71-9.95,10.53-33.39,13.75-73.87,41.92-73.87,121.35C128.13,304,110,320,84.32,351.43,73.68,364.45,83,384,101.61,384H410.49C429,384,438.26,364.39,427.68,351.43Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M320,384v16a64,64,0,0,1-128,0V384" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
                            </span>

                            {# Notification count #}
                            <span
                                id="notificationBadge"
                                class="position-absolute translate-middle badge rounded-pill bg-danger text-white"
                                style="font-size: 8px; top: 6px !important; left: 34px; font-family: monospace;{% if unread_notifications|length == 0 %}display:none{% endif %}">
                                {{ unread_notifications|length }}
                                <span class="visually-hidden">unread notifications</span>
                            </span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-dark bg-keeper bd-keeper dropdown-keeper"
                            style="max-width: calc(100% - 20px); min-width: 350px;" aria-labelledby="navbarNotificationDropdown">

                            {% if unread_notifications|length > 0 %}
                                {% for notification_id, notification in unread_notifications %}
                                    <li>
                                        <a class="dropdown-item" href="/account/notification/{{ notification_id }}" style="max-width: 100%; white-space: normal;">
                                            {{ notification.text|notification_render }}
                                            <br/>
                                            <time class="text-muted" datetime="{{ notification.timestamp|date('c') }}">
                                                {{ notification.timestamp|date('Y/m/d - H:i') }}
                                            </time>
                                        </a>
                                    </li>
                                {% endfor %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/account/notifications/mark-all-as-read/{{ csrf.name }}/{{ csrf.value|url_encode }}">Mark all as read</a></li>
                            {% else %}
                                <li>
                                    <a class="dropdown-item disabled text-muted" href="#" disabled>No new notifications</a>
                                </li>
                            {% endif %}

                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/account/notifications" data-instant>Show all</a></li>
                        </ul>
                    </div>

                    {# Username + account dropdown #}
                    <div class="dropdown" style="display: inline;">
                        <a class="dropdown-toggle" href="/account" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="position: relative; margin: 0; background-color: rgba(0, 0, 0, 0.45); padding: 9px 12px; border-radius: 5px; top:1px;">
                        {# <a class="dropdown-toggle" href="/dashboard" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> #}

                            {% if account.avatar_small %}
                                <img src="/avatar/{{ account.avatar_small }}" class="user-avatar" />
                            {% elseif account.avatar %}
                                <img src="/avatar/{{ account.avatar }}" class="user-avatar" />
                            {% else %}
                                <img src="/avatar-generate/64/{{ account.username|url_encode }}.png" class="user-avatar" />
                            {% endif %}

                            {{ account.username }}
                        </a>

                        <ul class="dropdown-menu dropdown-menu-dark bg-keeper bd-keeper dropdown-keeper" aria-labelledby="navbarDropdown">

                            {# Workshop menu items #}
                            <li><a class="dropdown-item" href="/workshop/user/{{ account.username|url_encode }}">Profile</a></li>
                            <li><a class="dropdown-item" href="/workshop/my-items">Workshop items</a></li>
                            <li><a class="dropdown-item" href="/workshop/my-ratings">Ratings</a></li>
                            <li><hr class="dropdown-divider"></li>

                            {# User account menu items #}
                            {# <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li> #}
                            <li><a class="dropdown-item" href="/account">Account Settings</a></li>
                            <li><a class="dropdown-item" href="/account/notifications/settings">Notification Settings</a></li>
                            <li><a class="dropdown-item" href="/account/connections">Connections</a></li>

                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout/{{ csrf.name }}/{{ csrf.value|url_encode }}">Logout</a></li>

                        </ul>

                    </div>

                {% else %}
                    <a href="/login" data-instant>
                        Login
                    </a>
                    <span class="header-separator">|</span>
                    <a href="/register" data-instant>
                        Register
                    </a>
                {% endif %}

            </div>

        </nav>

        {% if get_env('APP_HEADER_ALERT_TEXT') is not empty %}
            <div class="alert alert-{% if get_env('APP_HEADER_ALERT_TYPE') is not empty %}{{ get_env('APP_HEADER_ALERT_TYPE') }}{% else %}info{% endif %}">
                {{ get_env('APP_HEADER_ALERT_TEXT')|nl2br }}
            </div>
        {% endif %}

        {% if account is not null and account.email is not null and account.is_email_verified == false %}
            <div class="alert alert-info">
                Your email address has not been verified yet.
                Please verify it to enable additional functionality.
                <br />
                If you have not received the verification email, you can resend it from the <a href="/account">Account Settings</a> page.
            </div>
        {% endif %}

        {% block content %}{% endblock %}

        <footer>
            KeeperFX - Open Source Dungeon Keeper Remake & Fan Expansion
            <br />
            No affiliation with Bullfrog or E.A.
            <br />
            <a href="/rss-info" data-instant>RSS</a>
            -
            <a href="/terms-of-service" data-instant>Terms of Service</a>
            -
            <a href="/privacy-policy" data-instant>Privacy Policy</a>
            -
            <a href="/website-changelog" data-instant>Website Changelog</a>
            -
            <a href="{{ get_env('APP_GITHUB_REPO_URL') }}" target="_blank">Website Source <ion-icon name="open-outline" class="outgoing" style="font-size: 12px; position: relative; top: 1px; left: 1px;"></ion-icon></a>

            {# A custom footer that can be set in the env vars #}
            {% if get_env('APP_THEME_FOOTER') is not empty %}
                <p class="mt-3 text-muted">
                    {{ get_env('APP_THEME_FOOTER')|nl2br }}
                </p>
            {% endif %}
        </footer>

    </div>

{% endblock %}
