{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Add Workshop Item - ModCP' %}

{% block page %}



<div class="content-box bg-keeper bd-keeper">
<div class="content-header">
    <h2>Upload a new workshop item</h2>
</div>

<div class="content-body">

    <form action="/moderate/workshop/add" method="POST" enctype="multipart/form-data">

        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">

        <div class="form-group" style="margin-bottom: 25px;">
            <label>
                Submitter
                <span class="text-danger">
                    *
                </span>
            </label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="submitter" value="current_user" id="submitter_current_user" checked=checked />
                <label class="form-check-label" for="submitter_current_user">
                    Yani
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="submitter" value="kfx" id="submitter_kfx" />
                <label class="form-check-label" for="submitter_kfx">
                    KeeperFX Team
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="submitter" value="username" id="submitter_username" />
                <label class="form-check-label">
                    <input class="form-control" type="text" name="submitter_username" placeholder="Username" id="submitter_username_input" style="max-width: 200px;" />
                </label>
            </div>
        </div>

        <div class="row" style="margin-bottom: 25px;">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">
                        Name
                        <span class="text-danger">
                            *
                        </span>
                    </label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="type">
                        Type
                        <span class="text-danger">
                            *
                        </span>
                    </label>
                    <select class="form-control form-select" id="type" name="type" required>
                        <option value="" disabled selected hidden>Choose the type of this item</option>
                        {% if workshop_globals.types|length > 0 %}
                            {% for type in workshop_globals.types %}
                                <option value="{{ type.value }}">
                                    {{ type.name|enum_beautify }}
                                </option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 25px;">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="file">
                        File
                        <span class="text-danger">
                            *
                        </span>
                    </label>
                    <input type="file" class="form-control" id="file" name="file" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="min_game_build">
                        Minimum game version
                        <span class="text-muted">
                            (Optional)
                        </span>
                    </label>
                    <select class="form-control form-select" id="min_game_build" name="min_game_build">
                        <option selected="selected"></option>
                        {% if workshop_globals.stable_builds|length > 0 %}
                            {% for build in workshop_globals.stable_builds %}
                                <option value="{{ build.id }}">
                                    {{ build.name }}
                                </option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 25px;">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="thumbnail">
                        Thumbnail
                        <span class="text-muted">
                            (Optional)
                        </span>
                    </label>
                    <input type="file" class="form-control" id="thumbnail" name="thumbnail">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="screenshots">
                        Screenshots
                        (Multiple)
                        <span class="text-muted">
                            (Optional)
                        </span>
                    </label>
                    <input type="file" class="form-control" id="screenshots" name="screenshots[]" multiple="multiple">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="description">
                Description
                <span class="text-muted">
                    (Optional)
                </span>
            </label>
            <textarea class="form-control" name="description" rows="6"></textarea>
        </div>

        <div class="form-group">
            <label for="install_instructions">
                Installation instructions
                <span class="text-muted">
                    (Optional)
                </span>
            </label>
            <textarea class="form-control" name="install_instructions" rows="4"></textarea>
        </div>

        <div class="row" style="margin-top: 25px; margin-bottom: 30px;">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="original_author">
                        Original Author
                        <span class="text-muted">
                            (Optional)
                        </span>
                    </label>
                    <input type="text" class="form-control" id="original_author" name="original_author">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="original_creation_date">
                        Original Creation Date
                        <span class="text-muted">
                            (Optional)
                        </span>
                    </label>
                    <input type="date" class="form-control" id="original_creation_date" name="original_creation_date">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="is_published" id="is_published" checked=checked />
                <label class="form-check-label" for="is_published">
                    Published
                </label>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-medieval" value="Submit" />
        </div>

    </form>

</div>
</div>

<script>

$(function(){
    $('#submitter_username_input').on('focus', function(e){
        $('#submitter_username').prop('checked', true);
    });
})

</script>


{% endblock %}
