{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Workshop - ModCP' %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Workshop Items ({{ workshop_items|length }})</h2>
        <a href="/moderate/workshop/upload" style="right: 0;">
            <button class="btn btn-medieval">Upload new workshop item</button>
        </a>
    </div>
    <div class="content-body">

    {% if workshop_items|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Submitted by</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for workshop_item in workshop_items %}
                    <tr>
                        <td style="vertical-align: middle;">{{ workshop_item.id }}</td>
                        <td style="vertical-align: middle;">{{ workshop_item.name }}</td>
                        <td style="vertical-align: middle;">{% include 'workshop/_user_small.widget.html.twig' with {workshop_item: workshop_item, includeOriginalAuthor: false} %}</td>
                        <td style="vertical-align: middle;">{{ workshop_item.createdTimestamp|date('Y-m-d H:i') }}</td>
                        <td style="vertical-align: middle;">
                            <a class="btn btn-sm btn-medieval" href="/workshop/item/{{ workshop_item.id }}/{{ workshop_item.name|slugify }}" target="_blank">View</a>
                            <a class="btn btn-sm btn-medieval btn-medieval-gray" href="/moderate/workshop/{{ workshop_item.id }}">Edit</a>
                            <a class="btn btn-sm btn-medieval btn-medieval-gray" href="/moderate/workshop/{{ workshop_item.id }}/files">Edit Files</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            No workshop items
        </p>
    {% endif %}

    </div>
</div>

{% endblock %}
