{% extends "cp/_cp_layout.html.twig" %}

{% set page_title = 'Create new ban pattern - AdminCP' %}

{% block page %}

<div class="content-box bg-keeper bd-keeper">
    <div class="content-header" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Create new ban pattern</h2>
        <a href="/admin/ban/list" data-instant>Go back to list</a>
    </div>
    <div class="content-body">

        <p class="alert bg-dark">
            Note: ISP ban patterns are not implemented yet.
        </p>

        {% if ip_logs is defined and ip_logs is not empty %}
            <h5 class="mt-0" style="border:0;">Preview</h5>
            {% include 'admincp/_ip-log-table.html.twig' %}
            <br />
        {% endif %}

        <form action="/admin/ban/add" method="POST" enctype="multipart/form-data" id="ban-form">

            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">

            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="type">
                            Type
                            <span class="text-danger">
                                *
                            </span>
                        </label>
                        <select class="form-control form-select" id="type" name="type" required>
                            <option value="" disabled selected hidden></option>
                            {% if ban_types|length > 0 %}
                                {% for ban_type in ban_types %}
                                    <option value="{{ ban_type.value }}" {% if get_post_var('type') is not null and get_post_var('type') == ban_type.value %}selected=selected{% endif %}>
                                        {{ ban_type.name }}
                                    </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="title">
                    Pattern
                    <span class="text-danger">
                        *
                    </span>
                    <span class="text-muted">
                        (wild cards <code>*</code> are accepted)
                    </span>
                </label>
                <input type="text" class="form-control" id="pattern" name="pattern" value="{{ get_post_var('pattern') }}" />
            </div>

            <div class="form-group">
                <label for="title">
                    Reason
                    <span class="text-muted">
                        (Optional)
                    </span>
                </label>
                <input type="text" class="form-control" id="reason" name="reason" value="{{ get_post_var('reason') }}" />
            </div>

            <div class="mt-3">
                <button class="btn btn-medieval btn-medieval-gray" id="preview" style="display:none;">Preview</button>
                <button type="submit" class="btn btn-medieval">Create</button>
            </div>

        </form>

    </div>
</div>

{% include 'markdown.format.html.twig' %}

{% endblock %}

{% block body_javascript %}

<script>
    $(function(){

        // Show the preview button
        // It uses javascript so we only show it if we can use javascript
        $('#preview').show();

        // Handle preview button click
        $('#preview').on('click', function(e){

            // Remove the original buttonLoader from the 'Create' submit button
            $('#ban-form').off('submit');

            // Add a 'preview' action to the form
            $('<input>').attr({
                type: 'hidden',
                name: 'preview'
            }).appendTo('#ban-form');

            // Submit the form
            $(this).buttonLoader(true);
            $('#ban-form').submit();
        });

    });
</script>
{% endblock %}
